<body class="bg-dark">

    <div class="row g-0">
    
        <div class="col-lg-7 d-none d-lg-block">
            <app-carousel></app-carousel>
        </div> 

        <div class="col-lg-5 d-flex flex-column align-items-end min-vh-100"><!-- min-v -->

            <!-- <app-registro class="w-100 min-vh-100"></app-registro> -->

            <div class="w-100">

                <router-outlet></router-outlet>

            </div>
            
            
        </div>

    </div>

    
</body> 




