<mat-card class="example-card fondoOscuro">
    <mat-card-header class="justify-content-center">
      <mat-card-title class="titulo">Nombre Producto</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    <mat-card-content>
      <p>
        Descripcion de producto
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="col-12 text-center mb-1">

         <!--  <button mat-menu-item data-bs-toggle="modal" 
                  data-bs-target="#exampleModal2" data-bs-whatever="@getbootstrap"> --> <!-- *ngIf="usuario.ESTADO_USUARIO !== 'INACTIVO'" -->
                  <!-- <span>Editar</span>
                </button> -->
            <button mat-raised-button class="editar-btn" >Editar</button>
            <button mat-raised-button class="eliminar-btn">Eliminar</button>
        </div>
        
    </mat-card-actions>
  </mat-card>