@media (max-width:992px) {
    .mesa-tamaño {
        height: 65px !important;
    }

    .icono-tamaño {
        width: 50px !important;
    }

    .hora-alineacion {
        text-align: start !important;
    }
}

@media (max-width:500px){
    .texto-mesa-hora {
        font-size: 14px !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px;
    }

    .texto-tamaño {
        font-size:larger !important;
    }

    .texto-boton {
        font-size: smaller !important;
    }
}

.mesa-tamaño {
    height: 50px;
    width: 100%;
    border-color: black;
}

.icono-tamaño {
    width: 40px;
}

.Pendiente {
    background-color: #248df6;
}

.Cocinando {
    background-color: #ffc107;
}

.Listo {
    background-color: #f84f0e;
}

.Servido {
    background-color: #bac902;
}

