<div class="container-fluid ">

    <div class="mt-3 w-100 ">

        <div class="row">

            <div class="col-12 p-0">

                <h5 class="text-light font-weight-bold" id="titulo"> Reiniciar Contraseña </h5>

            </div>

            <div class="col-12 p-0">

                <form class="" [formGroup]="formCambioContrasena" (ngSubmit)="actualizarContrasena()">

                    <div class="col-12">

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Nueva contraseña</mat-label>
                            <input matInput formControlName="nuevaContrasena" [type]="hideContra ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hideContra = !hideContra" id="hideContra"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideContra" type="button">
                                <mat-icon>{{hideContra ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                    </div>

                    <div class="col-12">

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Confirmación contraseña</mat-label>
                            <input matInput formControlName="confirmarContrasena"
                                [type]="hideRepetir ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hideRepetir = !hideRepetir" id="hideContra2"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepetir" type="button">
                                <mat-icon>{{hideRepetir ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                    </div>

                    <div class="row">

                        <div class="col-md-6 col-sm-12 mt-3">

                            <button [disabled]="formCambioContrasena.invalid" mat-flat-button color="primary"
                                class="me-3" id="btn-rojo" type="submit"
                                data-bs-whatever="@getbootstrap">Actualizar</button>

                        </div>

                        <div class="col-md-6 col-sm-12 mt-3">

                            <button *ngIf="!cambioPorConfigPregunta" mat-flat-button color="warn" type="button" class=""
                                id="btn-gris" routerLink="/auth/login">Cerrar</button>

                        </div>

                    </div>

                    <div *ngIf="enEjecucion" class="d-flex justify-content-center mt-5">
                        <div>
                            <mat-spinner></mat-spinner>
                            <hr>
                        </div>
                    </div>

                </form>


            </div>


        </div>

    </div>

</div>