<div>
  <h3 id="titulo">Gestión de Usuarios</h3>

  <div class="container-md rounded-4 pb-2" id="contenedor">

    <div class="d-flex flex-wrap justify-content-between align-items-center pb-0 pt-3">

      <div class="d-flex flex-wrap ">

        <button [ngClass]="generando ? 'd-flex align-items-center' : ''" mat-flat-button class="me-3 btn-p mb-2"
          (click)="generarReporte()" type="button">
          <span *ngIf="generando" class="d-flex  align-items-center justify-content-center">

            <mat-spinner [diameter]="30" class="me-3 uploader-status"></mat-spinner>
            <span *ngIf="generando">Generando... </span>
          </span>
          <img *ngIf="!generando" src="/assets/icons/pdf.png " width=30px height="30px" class="me-3">
          <span *ngIf="!generando" id="reporteUsuario">Generar reporte</span>

        </button>
        <button mat-flat-button class="me-3 btn-a mb-2" type="button" data-bs-toggle="modal"
          data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"
          *ngIf="permiso.PERMISO_INSERCION" id="nuevoUsuario">Nuevo</button>
      </div>


      <div class="d-flex align-items-center flex-wrap" style="height: 100%;">
        <div class="d-flex align-items-center mb-2">
          <label class="me-2 text-white mb-0" id="lblMostrar">Mostrar Inactivos</label>
          <mat-slide-toggle (toggleChange)="mostrarActivos()" color="warn" 
          class="text-white me-3" id="mostrarInactivos"></mat-slide-toggle>
        </div>
        <form [formGroup]="formularioBusqueda" class="mb-2" (ngSubmit)="buscarRegistro()">
          <label class="me-3" id="lblBuscar">Buscar:</label>
          <input type="text" class="input rounded-3" formControlName="buscar">
        </form>

      </div>

    </div>

    <hr class="text-white-50 m-2">

    <div class="table-responsive tabla">
      <table class="table table-dark table-striped table-hover ">
        <thead class="bg-dark text-light">
          <tr id="encabezadoTabla">
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>Correo electrónico</th>
            <th *ngIf="(permiso.PERMISO_ACTUALIZACION || permiso.PERMISO_ELIMINACION)">Acciones</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngIf="registros.length < 1">
            <td colspan="14" class="align-middle">
              <div class="d-flex align-items-center justify-content-center">
                <mat-icon id="iconBlock">info_outline</mat-icon>
                <strong class="fw-normal text-light ms-2">No se encontraron registros</strong>
              </div>
            </td>
          </tr>
          <tr *ngFor="let usuario of registros " id="registrosTabla">
            <!--   -->
            <td data-title="Usuario">{{usuario.USUARIO}}</td>
            <td data-title="Nombre">{{usuario.NOMBRE_USUARIO | titlecase}}</td>
            <td data-title="Estado">{{usuario.ESTADO_USUARIO | titlecase}}</td>
            <td data-title="Rol">{{usuario.ROL}}</td>
            <td data-title="Correo">{{usuario.CORREO_ELECTRONICO}}</td>
            <td data-title="Acción" *ngIf="(permiso.PERMISO_ACTUALIZACION || permiso.PERMISO_ELIMINACION)">
              <button mat-icon-button [matMenuTriggerFor]="menu"
                (click)="seleccionar(usuario.ID_USUARIO, usuario.NOMBRE_USUARIO, usuario.USUARIO, usuario.ESTADO_USUARIO, usuario.ID_ROL, usuario.CORREO_ELECTRONICO )">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">

                <button mat-menu-item data-bs-toggle="modal" data-bs-target="#exampleModal4" id="detalleUsuario"
                  data-bs-whatever="@getbootstrap" (click)="seleccionarUser(usuario.ID_USUARIO)">
                  <mat-icon id="iconMas">text_snippet</mat-icon>
                  <span>Ver más</span>
                </button>

                <ng-container *ngIf="usuario.ESTADO_USUARIO !== 'INACTIVO'">
                  <button mat-menu-item data-bs-toggle="modal" *ngIf="permiso.PERMISO_ACTUALIZACION"
                    data-bs-target="#exampleModal2" data-bs-whatever="@getbootstrap" id="editarUsuario">
                    <mat-icon id="iconEditar">edit</mat-icon>
                    <span>Editar</span>
                  </button>
                </ng-container>

                <ng-container *ngIf="!(usuario.ID_USUARIO === 1 || usuario.ESTADO_USUARIO === 'INACTIVO')">
                  <button mat-menu-item *ngIf="permiso.PERMISO_ELIMINACION" data-bs-toggle="modal" id="desactivarUsuario"
                    data-bs-target="#exampleModal3" data-bs-whatever="@getbootstrap">
                    <mat-icon id="iconBlock">block</mat-icon>
                    <span>Desactivar</span>
                  </button>
                </ng-container>

                <button mat-menu-item (click)=reActivar() *ngIf="usuario.ESTADO_USUARIO === 'INACTIVO'">
                  <mat-icon id="iconUnlock">lock_open</mat-icon>
                  <span>Reactivar</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <mat-paginator id="paginador" [length]="tamano" [pageSize]="limite" [pageSizeOptions]="[5, 10, 25, 50, tamano]"
      aria-label="Select page" [pageIndex]="indice" (page)="cambioDePagina($event)">
    </mat-paginator>
  </div>

  <div class="mt-4"> <br></div>
  <!-- --------------------------- Modal para ver detalles de usuario --------------------------- -->
  <app-detalle-usuario></app-detalle-usuario>

  <!-- --------------------------- Modal para nuevo usuario --------------------------- -->
  <app-nuevo-usuario (onActualizacion)="recargar()"></app-nuevo-usuario>


  <!-- --------------------------- Modal para editar usuario --------------------------- -->
  <app-editar-usuario (onActualizacion)="recargar()" [id]="ID_USUARIO" [correo]="CORREO_ELECTRONICO" [usuario]="USUARIO"
    [estadoActual]="ESTADO_USUARIO" [idRol]="ID_ROL" [nombre]="NOMBRE_USUARIO"></app-editar-usuario>


  <!-- --------------------------- Modal para eliminar usuario --------------------------- -->
  <app-desactivar-usuario (onActualizacion)="recargar()" [usuario]="USUARIO" [id_usuario]="ID_USUARIO"
    (onDesactivar)="recargar()">
  </app-desactivar-usuario>


</div>