<div class="h-100 pb-5">
    <!-- <img src="../../../../assets/img/dashboard.jpg" style="height: 93.3vh;" class="img-fluid" alt=""> -->

    <div class="container-fluid mb-3">

        <div class="text-center">

            <h3 class="d-inline">¡Bienvenido a Dr. Burger!</h3>
            <h2 class="nombreUsuario d-inline">{{nombreUsuario.nombre | titlecase}}</h2>

        </div>
  
        <div class="row d-flex justify-content-around">

            <div class="card col-lg-3 col-md-3 d-flex stat mt-3">

                <div class="card-body">

                    <div class="row" >

                        <div class="mx-auto">

                            <div class="d-flex justify-content-between">

                                <h6 class="card-title text-muted d-flex align-items-center">
                                
                                    Caja
                            
                                </h6>

                                <img class="icono" src="../../../../assets/icons/Caja.svg" alt="">
    
                            </div>

                            <p>
                                Detalles de la caja.
                                El estado actual de la caja es: 
                                <span *ngIf="cajaAbierta.ESTADO == true" style="color:#4FB206;"> ABIERTA</span>
                                <span *ngIf="cajaAbierta.ESTADO == false" style="color:#d12609;"> CERRADA</span>
                            </p>
                            
                            <div class="d-flex justify-content-between">

                                <button mat-flat-button class="me-3 mt-2 btn-a" type="button"
                                routerLink="/main/administracion/caja">

                                    <mat-icon id="iconBuscar">open_in_new</mat-icon>

                                </button>
                                <img class="ilustracion" src="../../../../assets/icons/CajaIllust.svg" alt="">

                            </div>
                            

                        </div>

                       

                    </div>
                    
                    <span *ngIf="cajaAbierta.ESTADO == true" style="background-color:#4FB206;" class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle p-2"><span class="visually-hidden">unread messages</span></span>
                    <span *ngIf="cajaAbierta.ESTADO == false" style="background-color:#d12609;" class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle p-2"><span class="visually-hidden">unread messages</span></span>
                  
                </div>
              
            </div>

            <div class="card col-lg-3 col-md-3 d-flex stat mt-3">

                <div class="card-body">
    
                    <div class="row" >
    
                        <div class="mx-auto ">

                            <div class="d-flex justify-content-between">

                                <h6 class="card-title text-muted d-inline d-flex align-items-center">
                                    Antender
                                </h6>
    
                                <img class="icono" src="../../../../assets/icons/Atender.svg" alt="">

                            </div>
    
                            <p>
                                Donde se lleva a cabo toda la gestion
                                de pedidos.
                            </p>

                            <div class="d-flex justify-content-between">

                                <button mat-flat-button class="me-3 mt-2 btn-a" type="button"
                                routerLink="/main/pedido/atencion">

                                    <mat-icon id="iconBuscar">open_in_new</mat-icon>

                                </button>
                                <img class="ilustracion" src="../../../../assets/icons/AtencionIlust.svg" alt="">

                            </div>
                           
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
            <div class="card col-lg-3 col-md-3 d-flex stat mt-3">
    
                <div class="card-body">
    
                    <div class="row" >
    
                        <div class="mx-auto">

                            <div class="d-flex justify-content-between">

                                <h6 class="card-title text-muted d-flex align-items-center">

                                    Cocina

                                </h6>

                                <img class="icono" src="../../../../assets/icons/Cocina.svg" alt="">

                            </div>
    
                            <p>
                                Aquí se producen los procesos para
                                la de cocción de los platillos.
                            </p>

                            <div class="d-flex justify-content-between">

                                <button mat-flat-button class="me-3 mt-2 btn-a" type="button"
                                routerLink="/main/pedido/cocina">

                                    <mat-icon id="iconBuscar">open_in_new</mat-icon>

                                </button>
                                <img class="ilustracion" src="../../../../assets/icons/CocinaIllust.svg" alt="">

                            </div>
                           
                        </div>
    
                    </div>
    
                </div>
    
            </div>

        </div>

        <div class="row d-flex justify-content-around mb-3">

            <div class="card col-lg-3 col-md-3 d-flex stat mt-3">

                <div class="card-body">

                    <div class="row" >

                        <div class="mx-auto">

                            <div class="d-flex justify-content-between">

                                <h6 class="card-title text-muted d-flex align-items-center">

                                    Inventario

                                </h6>

                                <img class="icono" src="../../../../assets/icons/Inventario.svg" alt="">

                            </div>

                            <p>
                                Lista de los insumos junto con su 
                                cantidad en existencia.
                            </p>

                            <div class="d-flex justify-content-between">

                                <button mat-flat-button class="me-3 mt-2 btn-a" type="button"
                                routerLink="/main/inventario/inventario">

                                    <mat-icon id="iconBuscar">open_in_new</mat-icon>

                                </button>
                                <img class="ilustracion" src="../../../../assets/icons/InventarioIllust.svg" alt="">

                            </div>

                        </div>

                       

                    </div>
                  
                </div>
              
            </div>

            <div class="card col-lg-3 col-md-3 d-flex stat mt-3">

                <div class="card-body">
    
                    <div class="row" >
    
                        <div class="mx-auto">

                            <div class="d-flex justify-content-between">

                                <h6 class="card-title text-muted d-flex align-items-center">

                                    Compras

                                </h6>

                                <div class="icono d-inline">
    
                                    <img class="icono" src="../../../../assets/icons/Compras.svg" alt="">
    
                                </div>

                            </div>
    
                            <p>
                                Puedes realizar las compras de insumos aquí.
                            </p>

                            <div class="d-flex justify-content-between">

                                <button mat-flat-button class="me-3 mt-2 btn-a" type="button"
                                routerLink="/main/inventario/compras">

                                    <mat-icon id="iconBuscar">open_in_new</mat-icon>

                                </button>
                                <img class="ilustracion" src="../../../../assets/icons/CompraIllust.svg" alt="">

                            </div>
                           
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
            <div class="card col-lg-3 col-md-3 d-flex stat mt-3">
    
                <div class="card-body">
    
                    <div class="row" >
    
                        <div class="mx-auto">
    
                            <div class="d-flex justify-content-between">
                            
                                <h6 class="card-title text-muted d-flex align-items-center">
                                    
                                    Productos
                            
                                </h6>

                                <img class="icono" src="../../../../assets/icons/Producto.svg" alt="">

                            </div>

                            <p>
                                Puedes visualizar y gestionar la
                                lista de tus productos.
                            </p>

                            <div class="d-flex justify-content-between">

                                <button mat-flat-button class="me-3 mt-2 btn-a" type="button"
                                routerLink="/main/inventario/insumo">

                                    <mat-icon id="iconBuscar">open_in_new</mat-icon>

                                </button>
                                <img class="ilustracion" src="../../../../assets/icons/ProductosIllust.svg" alt="">

                            </div>
                           
                        </div>
    
                    </div>
    
                </div>
    
            </div>

            

        </div>

    </div>

</div>