
    <div class="px-lg-5 pt-lg4 pb-lg-3 p-4 pb0 w-100 mb-auto">
    
        <img src="/assets/img/DRBURGERW.svg" class="img-fluid" id="logo" alt="">
    
    </div>
    
    <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center" id="login-box">
    
        <h1 class="text-light font-weight-bold mb-4">Bienvenido de vuelta</h1>
    
        <form class="mt-4">
    
            <div class="mb-4" id="header">
    
                <label for="exampleInputEmail1" class="form-label font-wight-bold">Usuario</label>
                <input type="email" class="form-control bg-dark-x border-0 textbox"
                    placeholder="Ingrese su Usuario" id="exampleInputEmail1" aria-describedby="emailHelp">
    
            </div>
    
            <div class="mb-4" id="header">
    
                <label for="exampleInputPassword1" class="form-label font-wight-bold">Contraseña</label>
                <input type="password" class="form-control bg-dark-x border-0 mb-2 textbox"
                    placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
    
                <a routerLink="/auth/cambio-contrasena" id="emailHelp" class="form-text text-muted text-decoration-none"><!-- data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" -->
                    ¿Has olvidado tu contraseña?
                </a>
                <div>
                    <a routerLink="/auth/recuperar-por-correo" class="form-text text-muted text-decoration-none" >
                        Recuperar contraseña por correo electrónico
                    </a>
                </div>
                  

            </div>
            
    
            <a href="/Views/home/home.html">
    
                <button type="button" class="btn btn-primary w-100">Iniciar Sesión</button>
    
            </a>
    
        </form>
    
    </div>
    
    <div class="text-center px-lg-5 py-lg-4 p-4 w-100 mt-auto" id="Crear">
    
        <p class="d-inline-block mb-0">
    
            ¿Todavía no tienes una cuenta?
    
        </p>
    
        <a routerLink="/auth/registro" class="text-light font-weight-bold text-decoration-none">
    
            ¡Crear una ahora!
    
        </a>
    
    </div>