
    <div class="px-lg-5 pt-lg4 pb-lg-3 p-4 pb0 w-100 mb-auto">
    
        <img src="/assets/img/DRBURGERW.svg" class="img-fluid" id="logo" alt="">
    
    </div>
    
    <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center" id="login-box">
    
        <h1 class="text-light font-weight-bold mb-4">Bienvenido de vuelta</h1>
    
        <form class="mt-4" [formGroup]="formularioLogin" (ngSubmit)="login()">
    
            <div class="mb-4" id="header">
    
                <div>
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Ingrese el usuario</mat-label>
                        <input matInput formControlName="usuario" placeholder="Usuario...">
                        <mat-icon matSuffix>person</mat-icon>
                      </mat-form-field>
                </div>
    
            </div>
    
            <div class="mb-4" id="header">
    
                <div>
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="contrasena" [type]="hide ? 'password' : 'text'">                        
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                

                <a routerLink="" id="emailHelp" class="form-text text-muted text-decoration-none" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
                    ¿Olvidaste tu contraseña?
                </a>
                  
                <!-- modal -->
                <form class="mt-5">                    
                
                    <div class="modal fade animate__animated animate__backInUp" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
        
                      <div class="modal-dialog">
        
                        <div class="modal-content" id="editar">
        
                          <div class="modal-header">
        
                            <h5 class="modal-title" id="exampleModalLabel">Recuperación de contraseña</h5>                
                                <button mat-icon-button color="warn" data-bs-dismiss="modal" aria-label="Close" type="button">
                                    <mat-icon>cancel</mat-icon>
                                </button>
        
                          </div>
        
                          <div class="modal-body">
        
                            <app-recuperar-contrasena></app-recuperar-contrasena>                           
        
                          </div>
        
                          <div class="modal-footer">
        
                          </div>
        
                        </div>
        
                      </div>
        
                    </div>
        
                </form>

            </div>
            
            <button [disabled]="formularioLogin.invalid" mat-flat-button color="primary" class="btn btn-primary w-100" type="submit"
                    data-bs-whatever="@getbootstrap">Iniciar Sesión</button>
    
        </form>
    
    </div>
    
    <div class="text-center px-lg-5 py-lg-4 p-4 w-100 mt-auto" id="Crear">
    
        <p class="d-inline-block mb-0">
    
            ¿Todavía no tienes una cuenta?
    
        </p>
    
        <a routerLink="/auth/registro" class="text-light font-weight-bold text-decoration-none">
    
            ¡Crear una ahora!
    
        </a>
    
    </div>

    <app-loader [enEjecucion]="enEjecucion"></app-loader>