<!-- 
<body>
    <div class="row mat-4">

        <div class="col-7">
    
            <app-carousel></app-carousel>
            
        </div>
        
        <div class="col -5 container-login100">
            
    
            <app-login-box></app-login-box>
    
        </div>
    
        
    
    </div>
</body> -->

<!-- ===================================================================================================== -->

<!-- <body>
     -->
    <div class="justify-content-center align-self-center text-center px-lg-5 pt-lg4 pb-lg-3 p-4 w-100"><!--   -->
    
        <img src="/assets/img/DRBURGERW.svg" class="img-fluid" id="logo" alt="">
    
    </div>
    
    <div class="align-self-center py-lg-4 p-4 w-100" id="login-box"><!-- px-lg-5  -->
    
        <h1 class="text-light font-weight-bold mb-4">Bienvenido de vuelta</h1>
    
        <form class="mt-4">
    
            <div class="mb-4" id="header">
    
                <label for="exampleInputEmail1" class="form-label font-wight-bold">Correo Electrónico</label>
                <input type="email" class="form-control bg-dark-x border-0 textbox"
                    placeholder="Ingresa tu correo electrónico" id="exampleInputEmail1" aria-describedby="emailHelp">
    
            </div>
    
            <div class="mb-4" id="header">
    
                <label for="exampleInputPassword1" class="form-label font-wight-bold">Contraseña</label>
                <input type="password" class="form-control bg-dark-x border-0 mb-2 textbox"
                    placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
    
                <a href="#" id="emailHelp" class="form-text text-muted text-decoration-none"><!-- data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" -->
                    ¿Has olvidado tu contraseña?
                </a>
    
            </div>
    
            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
                <div class="modal-dialog">
    
                    <div class="modal-content" id="editar">
    
                        <div class="modal-header">
    
                            <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
                        </div>
    
                        <div class="modal-body">
    
                            <form>
    
                                <div class="my-3 py-3 px-3 justify-content-center text-center">
    
                                    <label for="exampleInputText1" class="form-label font-wight-bold">Nombre de
                                        Usuario</label>
                                    <input type="text" class="form-control border-0 mb-2 textbox2"
                                        placeholder="Ingresa tu nombre de usuario" id="exampleInputText1">
    
                                </div>
    
                                <div class="col-12" align="center">
    
                                    <button type="button" class="btn btn-info text-right" data-bs-toggle="collapse"
                                        data-bs-target="#collapseContCor" aria-expanded="false"
                                        aria-controls="collapseExample">Recuperar por Correo Electrónico</button>
    
                                </div>
    
                                <div class="collapse fade" id="collapseContCor">
    
    
    
                                    <div class="my-3 py-3 px-3 justify-content-center text-center">
    
                                        <label for="exampleInputText1" class="form-label font-wight-bold">Correo
                                            Electrónico</label>
                                        <input type="text" class="form-control border-0 mb-2 textbox2"
                                            placeholder="Ingresa tu correo electrónico" id="exampleInputText1">
    
                                        <button type="button" class="btn btn-secondary">Verificar</button>
    
                                    </div>
    
                                </div>
    
    
    
                                <div class="col-12 my-3" align="center">
    
                                    <button type="button" class="btn btn-info text-right" data-bs-toggle="collapse"
                                        data-bs-target="#collapseContPreg" aria-expanded="false"
                                        aria-controls="collapseExample">Recuperar por Pregunta Secreta</button>
    
                                </div>
    
                                <div class="collapse fade" id="collapseContPreg">
    
    
    
                                    <div class="my-3 py-3 px-3 justify-content-center text-center">
    
                                        <select class="form-select mb-3" aria-label="Default select example">
    
                                            <option selected>Selecciona una pregunta de seguridad</option>
                                            <option value="1">¿Cuál es tu color favorito?</option>
                                            <option value="2">¿Cuál es el nombre de tu mejor amigo?</option>
                                            <option value="3">¿Cuál fue el nombre de tu primera mascota?</option>
    
                                        </select>
    
    
                                        <input type="text" class="form-control border-0 mb-2 textbox2"
                                            placeholder="Ingresa tu respuesta" id="exampleInputText1">
    
                                        <a href="/Views/Usuario/cambiar-contraseña.html">
    
                                            <button type="button" class="btn btn-secondary">Verificar</button>
    
                                        </a>
    
    
    
                                    </div>
    
    
    
                                </div>
    
    
    
    
                            </form>
    
                        </div>
    
                        <div class="modal-footer">
    
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div> -->
    
            <a href="/Views/home/home.html">
    
                <button type="button" class="btn btn-primary w-100">Iniciar Sesión</button>
    
            </a>
    
        </form>
    
    </div>
    
    <div class="text-center px-lg-5 py-lg-4 p-4 w-100" id="Crear">
    
        <p class="d-inline-block mb-0">
    
            ¿Todavía no tienes una cuenta?
    
        </p>
    
        <a href="/Views/Usuario/signup.html" class="text-light font-weight-bold text-decoration-none">
    
            ¡Crear una ahora!
    
        </a>
    
    </div>

<!-- </body>
 -->