<!-- <div class="mb-4" id="header">

    <label for="exampleInputPassword1" class="form-label font-wight-bold">Contraseña</label>
    <input type="password" class="form-control bg-dark-x border-0 mb-2 textbox"
      placeholder="Ingresa tu contraseña" id="exampleInputPassword1">

    <a href="#" id="emailHelp" class="form-text text-muted text-decoration-none" data-bs-toggle="modal"
      data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
      ¿Has olvidado tu contraseña?
    </a>

  </div> -->

<div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">

  

  <form> 

    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>Contraseña anterior</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>Confirmación contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <!--     <div class="mb-4" id="header">

            <label for="exampleInputEmail1" class="form-label font-wight-bold">Correo:</label>
            <input type="email" class="form-control bg-dark-x border-0 textbox"
                placeholder="Ingrese su correo" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>        

        <a clasa="text-center">
            <button type="button" class="btn btn-primary" (click)="onReset()">Enviar correo</button>
        </a> -->

  </form>

</div>

<!-- <ng-template #contenido let-modal>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog">

      <div class="modal-content" id="editar">

        <div class="modal-header">

          <h4 id="exampleModalLabel">Cambiar Contraseña</h4>
          <button mat-icon-button color="warn" data-bs-dismiss="modal" aria-label="Close">
            <mat-icon>cancel</mat-icon>
          </button>

        </div>

        <div class="modal-body ">

          <form>

            <div class="my-3 py-3 px-3 justify-content-center text-center">

                <form class="example-form">
                    
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Contraseña anterior</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nueva contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Confirmación contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                </form>

            </div>

          </form>

        </div>

        <div class="modal-footer">

            <button mat-raised-button color="primary" data-bs-dismiss="modal" class="me-2" >Guardar</button>
            <button mat-raised-button color="accent" data-bs-dismiss="modal">Cerrar</button>
            

        </div>

      </div>

    </div>

  </div>
</ng-template>  -->