<div class="d-flex justify-content-between flex-wrap" style="background-color: #3f3f3f;">

    <div class="d-flex justify-content-between px-3 flex-wrap anchoInfo" style="width: 80%;">


        <mat-form-field class="example-full-width mt-1" appearance="legacy">
            <mat-label>Plato</mat-label>
            <input [disabled]="true" #nombreProducto matInput class="textResponsive" [value]="detalleSeleccionado.NOMBRE_PRODUCTO">
        </mat-form-field>

        <mat-form-field class="example-mid-width" appearance="legacy">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" (keyup)="cambiarCantidad()" (change)="cambiarCantidad()" (keydown)="validarNumeros($event)" min="0" [value]="detalleSeleccionado.CANTIDAD" class="textResponsive" (paste)="$event.preventDefault()" step="1.00" #cantidad>
        </mat-form-field>

        <mat-form-field class="example-mid-width" appearance="legacy">
            <mat-label>Precio</mat-label>
            <input matInput type="number" [value]="detalleSeleccionado.PRECIO_PRODUCTO" min="0" [disabled]="true" class="textResponsive" #precio
                (paste)="$event.preventDefault()" step="1.00">
        </mat-form-field>

    </div>

    <div class="pe-3 anchoFormulario" style="width: 20%;">

        <form [formGroup]="formularioEliminacion">
            <label for="floatingTextarea2" style="color: white;">Motivo:</label>
            <div>
                <textarea formControlName="motivo" class="form-control" id="floatingTextarea2"></textarea>
            </div>
        </form>
        <div class="d-flex py-1">

            <div class="">
                <button mat-flat-button class="btn-a" type="submit" [disabled]="detalleSeleccionado.CANTIDAD == detalleNuevo.CANTIDAD && detalleSeleccionado.ID_PRODUCTO == detalleNuevo.ID_PRODUCTO">
                    <!--   -->
                    <mat-icon class="ms-2 me-1">save</mat-icon>
                    <span class="me-2">Guardar</span>
                </button>
            </div>

        </div>
    </div>

</div>
<ng-container>
    <div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 my-1">
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Categorías</label>
                            <select class="form-select" id="inputGroupSelect01" #categoria (change)="cargarProductos()">
                                <option value="" selected>Filtrar por categoría</option>
                                <option *ngFor="let categoria of listaCategoria" [value]="categoria.ID">
                                    {{categoria.NOMBRE}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 my-1">
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                            <select class="form-select" id="inputGroupSelect01" #tipoProducto
                                (change)="cargarProductos()">
                                <option value="" selected>Filtrar por tipo</option>
                                <option *ngFor="let tipo of listaTipo" [value]="tipo.id">
                                    {{tipo.TIPO_PRODUCTO}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 my-1">
                        <form (ngSubmit)="cargarProductos()" [formGroup]="formularioBusqueda">
                            <div class="input-group input-group-sm">

                                <span class="input-group-text" id="inputGroup-sizing-sm">Buscar:</span>
                                <input type="text" class="form-control form-control-sm form-tamañoNormal"
                                    formControlName="buscar">

                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- PRODUCTOS -->
    <div class="container-fluid overflow-auto" style="color: white;">
        <div class="row text-center mt-3">
            <div class="col-xxl-4 col-md-6 col-sm-12 nav-link" *ngFor="let producto of listaProducto">
                <button type="button" class="btn btn-primary categoria-tamaño col-12 text-light" (click)="seleccionarProducto(producto)" style="width: 95%;">
                    <!-- (click)="seleccionarProducto(producto, $event)" -->
                    <div>
                        <label class="form-label fw-bold fs-5 mb-0 titulo"
                            style="color: white;">{{producto.NOMBRE}}</label>

                        <div class="tamañoTexto overflow-auto">

                            <div class="d-flex h-100 align-items-center justify-content-center ">

                                <label
                                    class="d-flex form-label fw-light lh-sm detalle justify-content-center text-break mt-1 mb-0"
                                    style="font-size: small;" style="color: white;">{{producto.DESCRIPCION |
                                    lowercase}}</label>

                            </div>
                        </div>


                        <label class="form-label fs-6 fw-semibold titulo" style="color: white;">{{producto.PRECIO |
                            currency:'Lps. '}}</label>
                    </div>
                </button>
            </div>

        </div>
    </div>



</ng-container>