<!-- <p>
      navbar-menu works!
    </p> -->
<div class="container-fluid">
    <div class="row">

        <div class="col-3">
            <div class="d-flex align-items-end" style="height: 100%;">
                <ul class="navbar-nav justify-content-end visible-400">

                    <li class="nav-item dropdown">
                        <!-- Necesito esto -->

                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                            <!-- Campana de notificaciones -->
                            <mat-icon *ngIf="notificaciones.length>0; else notificacion" matRipple
                                [matRippleCentered]="true" [matRippleUnbounded]="true" [matRippleRadius]="20"
                                [matBadge]="notificaciones.length" matBadgeColor="warn">

                                notifications

                            </mat-icon>

                            <!-- En caso de no tener notificaciones nuevas, se ocultara el badge -->
                            <ng-template #notificacion>

                                <mat-icon>notifications</mat-icon>

                            </ng-template>

                        </a>

                        <ul class="dropdown-menu position-absolute dropdown-menu-lg-end  bg-secondary p-0">

                            <li class="m-0 p-0">

                                <div class="d-flex align-items-center justify-content-between">

                                    <div class="d-flex align-items-center">

                                        <h6 class="fw-bold text-light ms-4 mt-2" style="font-size:small ;">

                                            Notificaciones

                                        </h6>

                                    </div>

                                    <a class="nav-link " href="">

                                        <img src="../../../assets/icons/check-white.png" width="15px" class="me-3 mt-0"
                                            alt="">

                                    </a>

                                </div>

                                <div class="overflow-auto "
                                    style="height: 300px; background-color: rgb(224, 224, 224);">

                                    <div *ngFor="let notificacion of notificaciones" class="dropdown-item rounded my-2">

                                        <div class="row">

                                            <div class="col-1">

                                                <img src="../../../assets/icons/campana-mesa.png" width="15px" alt="">

                                            </div>

                                            <div class="col">

                                                <div class="d-flex flex-column">

                                                    <h6 class="fw-semibold" style="font-size:x-small ;">

                                                        {{notificacion.mensaje}}

                                                    </h6>

                                                    <h6 class="fw-semibold" style="font-size:xx-small ;">

                                                        {{notificacion.tiempo}}

                                                    </h6>

                                                    <a routerLink="/notificaciones/lista"
                                                        class="nav-link text-black text-end fw-bold m-0 p-0"
                                                        style="font-size:x-small ;">

                                                        Ver notificación completa

                                                    </a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </li>

                            <li class="m-0 p-0">

                                <div class="">

                                    <a class="nav-link d-flex justify-content-center"
                                        routerLink="/notificaciones/lista">

                                        <button type="button" class="btn btn-ver-todo" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"
                                            style="background-color:#1e120d ; color:white;">

                                            Ver todo

                                        </button>

                                    </a>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>
        </div>

        <div class="col-6">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                <a class="nav-link mx-2 pt-0" routerLink="">

                    <img src="../../../assets/icons/DRBURGERW.svg" height="45" width="50" alt="">

                </a>
            </div>
        </div>

        <div class="col-3 p-0">
            <div class="d-flex justify-content-end">
                <ul class="navbar-nav derechaIzquierda justify-content-end hidden-400">

                    <li class="nav-item dropdown">
                        <!-- Necesito esto -->

                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                            <!-- Campana de notificaciones -->
                            <mat-icon *ngIf="notificaciones.length>0; else notificacion" matRipple
                                [matRippleCentered]="true" [matRippleUnbounded]="true" [matRippleRadius]="20"
                                [matBadge]="notificaciones.length" matBadgeColor="warn">

                                notifications

                            </mat-icon>

                            <!-- En caso de no tener notificaciones nuevas, se ocultara el badge -->
                            <ng-template #notificacion>

                                <mat-icon>notifications</mat-icon>

                            </ng-template>

                        </a>

                        <ul class="dropdown-menu position-absolute dropdown-menu-lg-end  bg-secondary p-0">

                            <li class="m-0 p-0">

                                <div class="d-flex align-items-center justify-content-between">

                                    <div class="d-flex align-items-center">

                                        <h6 class="fw-bold text-light ms-4 mt-2" style="font-size:small ;">

                                            Notificaciones

                                        </h6>

                                    </div>

                                    <a class="nav-link " href="">

                                        <img src="../../../assets/icons/check-white.png" width="15px" class="me-3 mt-0"
                                            alt="">

                                    </a>

                                </div>

                                <div class="overflow-auto "
                                    style="height: 300px; background-color: rgb(224, 224, 224);">

                                    <div *ngFor="let notificacion of notificaciones" class="dropdown-item rounded my-2">

                                        <div class="row">

                                            <div class="col-1">

                                                <img src="../../../assets/icons/campana-mesa.png" width="15px" alt="">

                                            </div>

                                            <div class="col">

                                                <div class="d-flex flex-column">

                                                    <h6 class="fw-semibold" style="font-size:x-small ;">

                                                        {{notificacion.mensaje}}

                                                    </h6>

                                                    <h6 class="fw-semibold" style="font-size:xx-small ;">

                                                        {{notificacion.tiempo}}

                                                    </h6>

                                                    <a routerLink="/notificaciones/lista"
                                                        class="nav-link text-black text-end fw-bold m-0 p-0"
                                                        style="font-size:x-small ;">

                                                        Ver notificación completa

                                                    </a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </li>

                            <li class="m-0 p-0">

                                <div class="">

                                    <a class="nav-link d-flex justify-content-center"
                                        routerLink="/notificaciones/lista">

                                        <button type="button" class="btn btn-ver-todo" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"
                                            style="background-color:#1e120d ; color:white;">

                                            Ver todo

                                        </button>

                                    </a>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

                <div class="vr mx-3 my-3 hidden-400"></div>

                <ul class="navbar-nav">

                    <li class="dropdown">

                        <a class="nav-link align-middle" href="#" role="button" data-bs-toggle="dropdown" matRipple
                            [matRippleCentered]="true" [matRippleUnbounded]="true" [matRippleRadius]="25"
                            aria-expanded="false">
                            <!-- active -->

                            <img src="../../../../assets/icons/JS.png" height="41" width="41"
                                class="rounded-circle mr-2 mx-1">


                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark text-small" style="background-color: #2b2b2b;">

                            <li>

                                <a class="dropdown-item d-flex align-items-center" routerLink="perfil">
                                    <img src="../../../../assets/icons/JS.png" height="41" width="41"
                                        class="rounded-circle mr-2 me-2">

                                    <div class="d-flex">
                                        <div class="d-flex flex-column">
                                            <strong> {{nombre | titlecase}}</strong>
                                            <span class="fs-6 letraRoja">Configurar Cuenta</span>
                                        </div>

                                    </div>
                                </a>

                            </li>

                            <li>

                                <hr class="dropdown-divider">

                            </li>

                            <li>
                                <div class="">

                                </div>
                                <a class="dropdown-item d-flex align-items-center" (click)="cerrarSesion()">
                                    <mat-icon color="warn" aria-hidden="false" aria-label="Example home icon"
                                        fontIcon="logout">
                                        logout</mat-icon><span class="ps-2"> Cerrar Sesión</span>
                                </a>

                            </li>

                        </ul>

                    </li>

                </ul>
            </div>

            <div class="">

            </div>
        </div>




    </div>

</div>