.background {
  /* background-color: rgb(224, 224, 224); */
  width: 100%;
  min-height:calc(100% - 65px);
  background-image: url(/assets/img/FondoP1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width:599px){
  .divSpacer {
    height: 56px !important;
  }
}

.divSpacer {
  height: 64px;
}
