<div>

    <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Gestión de Caja">Gestión de Caja</mat-tab>
        <mat-tab label="Monitoreo de Ventas">Monitoreo de Ventas</mat-tab>
    </mat-tab-group> -->

    <h3>Gestión de Caja</h3>

    <!-- <section class="bg-mix">
    
        <div class="container">

            <div class="card">

                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-3 col-md-6 d-flex stat my-3">

                            <div class="mx-auto">

                                <h6 class="text-muted">Ventas del día</h6>
                                <h2>L. 2700.00</h2>
                               
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 d-flex stat my-3">

                            <div class="mx-auto">

                                <h6 class="text-muted">Pedidos del día</h6>
                                <h2>12</h2>
                                
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 d-flex stat my-3">

                            <div class="mx-auto">

                                <h6 class="text-muted">Descuentos Aplicados</h6>
                                <h2>L. 67.00</h2>
                                
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 d-flex my-3">

                            <div class="mx-auto">

                                <h6 class="text-muted">Promociones Activas</h6>
                                <h2>2</h2>
                                

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section> -->

    <section class="bg-mix">

        <div class="container">

            <div class="row d-flex justify-content-end">

                <div class="col-lg-3 d-flex">

                </div>

                <div class="col lg-3">

                </div>

            </div>

        </div>

        <div class="container">

            <div class="card">

                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-4 col-md-6 d-flex stat my-3">

                            <div class="mx-auto">

                                <h6 class="text-muted">Hora de Apertura</h6>
                                <h2>11:35 a.m.</h2>
                                <H6 class="text-success"><!-- <i class="icon ion-ios-calendar"></i> -->
                                    {{currentDate | date:'dd-MMMM-yyyy'}}
                                </H6>
                            </div>

                        </div>

                        <div class="col-lg-4 col-md-6 d-flex stat my-3">

                            <div class="mx-auto">

                                <h6 class="text-muted">Efectivo de Apertura</h6>
                                <h2>L. 1200.00</h2>
                                <H6 class="text-success"><!-- <i class="icon ion-ios-calendar"></i> -->
                                    {{currentDate | date:'dd-MMMM-yyyy'}}
                                </H6>
                            </div>

                        </div>

                        <div class="col-lg-4 col-md-6 d-flex my-3">

                            <div class="mx-auto">

                                <h6 class="text-muted">Efectivo Actual</h6>
                                <h2>L. 3460.00</h2>
                                <H6 class="text-success"><!-- <i class="icon ion-ios-calendar"> </i>-->
                                    {{currentDate | date:'dd-MMMM-yyyy'}}
                                </H6>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="mt-5">

        <app-historial-caja></app-historial-caja>

    </section>

    

</div>