<div class="modal fade" id="exampleModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable modal-lg">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Editar insumo</h5>

                <button mat-icon-button color="warn" #cerrarEditar data-bs-dismiss="modal"
                    aria-label="Close" type="button" (click)="cerrar()">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">

                <div class="px-lg-3 py-lg-3 w-100 align-self-center">
                    <form (ngSubmit)="actualizarInsumo()">

                        <p class="my-0 fw-bold">Insumo</p>
                        <mat-form-field class="example-full-width" appearance="legacy" >
                            <mat-label>Insumo</mat-label>
                            <input matInput placeholder="Nombre del Insumo" [value]="insumo.NOMBRE" 
                            (keyup)="toMayus(this.nombre)" #nombre autocomplete="off">
                            <mat-icon matSuffix>kitchen</mat-icon>
                        </mat-form-field>

                        <p class="mb-0 mt-2 fw-bold">Unidad de medida</p>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Unidad de medida</mat-label>
                            <mat-select [value]="insumo.ID_UNIDAD" #unidad>
                                <div class="cdk-overlay-container"></div>
                                <ng-container *ngFor="let unidad of listaUnidad" >
                                    <mat-option id="selector" [value]="unidad.ID">
                                        {{unidad.UNIDAD_MEDIDA}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <p class="mb-0 mt-2 fw-bold">Cantidades del insumo</p>
                        <form class="row">
                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Cantidad máxima</mat-label>
                                <input matInput type="number" min="0" #cantidadMaxima
                                [value]="insumo.CANTIDAD_MAXIMA" (keydown)="validarNumeros($event)" (paste)="$event.preventDefault()">
                            </mat-form-field>

                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Cantidad mínima</mat-label>
                                <input matInput type="number" min="0" #cantidadMinima
                                [value]="insumo.CANTIDAD_MINIMA" (keydown)="validarNumeros($event)" (paste)="$event.preventDefault()">
                            </mat-form-field>
                        </form>

                        <div class="d-flex flex-row-reverse">

                            <div class="">
                                <button mat-flat-button class="btn-a" type="button" (click)="actualizarInsumo()">
                                    <mat-icon class="ms-2 me-1">save</mat-icon>
                                    <span class="me-2">Guardar</span>
                                </button>
                            </div>
                            <mat-spinner  *ngIf="enEjecucion" class="me-3" [diameter]="50"> 
                            </mat-spinner>
                        </div>
                        
                    </form>

                </div>

            </div>

            <div class="modal-footer">
            </div>

        </div>

    </div>

</div>
