<div class="modal fade" id="exampleModal4" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="z-index: 999999999 !important;">

    <div class="modal-dialog modal-dialog-scrollable modal-lg">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel" *ngIf="producto.ID_TIPO_PRODUCTO === 1">Detalles del
                    producto</h5>
                <h5 class="modal-title ms-3" id="exampleModalLabel" *ngIf="producto.ID_TIPO_PRODUCTO === 2">Detalles del
                    combo</h5>
                <h5 class="modal-title ms-3" id="exampleModalLabel" *ngIf="producto.ID_TIPO_PRODUCTO === 3">Detalles de
                    la promoción</h5>
                <!-- (click)="limpiarFormulario()"  -->
                <button mat-icon-button color="warn" #cerrarEditar data-bs-dismiss="modal" aria-label="Close"
                    type="button" #cerrarDetalle>
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">

                <div *ngIf="producto.ID_TIPO_PRODUCTO === 1">
                    <div class="px-lg-3 py-lg-3 align-self-center">
                        <form>
                            <p class="mb-0 mt-2 fw-bold mb-2">Detalle del Producto</p>
                            <div class="row">
                                <mat-form-field class="col-6" appearance="legacy">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre del producto" [value]="producto.NOMBRE"
                                        [disabled]="true">
                                    <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="col-6" appearance="legacy">
                                    <mat-label>Precio</mat-label>
                                    <input matInput type="text" class="textResponsive" [value]="producto.PRECIO"
                                        [disabled]="true">
                                    <mat-icon matSuffix>attach_money</mat-icon>
                                </mat-form-field>
                            </div>

                            <p class="my-0 fw-bold"></p>
                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Impuesto</mat-label>
                                <input matInput type="text" class="textResponsive" [value]="producto.PORCENTAJE"
                                    [disabled]="true">
                                <mat-icon matSuffix>percent</mat-icon>
                            </mat-form-field>

                            <p class="my-0 fw-bold"></p>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Descripción del producto" [value]="producto.DESCRIPCION"
                                    [disabled]="true">
                                <mat-icon matSuffix>edit_note</mat-icon>
                            </mat-form-field>

                            <div class="row">
                                <section class="example-section">
                                    <table class="example-full-width text-center">
                                        <tbody>
                                            <td>
                                                <h6 class="my-0 fw-bold">Es</h6>
                                                <h6 class="my-0 fw-bold">exento</h6>
                                                <mat-checkbox [checked]="producto.EXENTA" [disabled]="true">Si
                                                </mat-checkbox>
                                            </td>

                                            <td>
                                                <h6 class="my-0 fw-bold">Sin</h6>
                                                <h6 class="my-0 fw-bold">estado</h6>
                                                <mat-checkbox [checked]="producto.SIN_ESTADO" [disabled]="true" color="primary">Si
                                                </mat-checkbox>
                                            </td>

                                            <td>
                                                <h6 class="my-0 fw-bold">Es</h6>
                                                <h6 class="my-0 fw-bold">bebida</h6>
                                                <mat-checkbox [checked]="producto.BEBIDA" [disabled]="true">Si
                                                </mat-checkbox>
                                            </td>
                                        </tbody>
                                    </table>


                                </section>
                            </div>

                            <p class="mb-0 mt-2 fw-bold">Detalle de Insumos</p>


                            <div>
                                <form class="row" *ngFor="let insumo of insumos; let i = index">
                                   <!--  -->
                                    <mat-form-field class="col-8" appearance="legacy">
    
                                        <mat-label>Insumo {{i+1}}</mat-label>
                                        <input matInput type="text" min="0" disabled="true"
                                            class="textResponsive" step="1.00" [value]="insumo.NOMBRE_INSUMO">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-4" appearance="legacy">
                                        <mat-label>cantidad</mat-label>
                                        <input matInput type="number" min="0" disabled="true"
                                            class="textResponsive" step="1.00" [value]="insumo.CANTIDAD">
                                    </mat-form-field>
    
                                </form>
                            </div>

                            <p class="mb-0 mt-2 fw-bold">Detalle de Categoría</p>

                            <div>
                                <form class="row" *ngFor="let categoria of categorias; let i = index">
                                   <!--  -->
                                    <mat-form-field class="col-6" appearance="legacy">
    
                                        <mat-label>Categoría {{i+1}}</mat-label>
                                        <input matInput type="text" disabled="true"
                                            class="textResponsive" [value]="categoria.NOMBRE_CATALOGO">
                                    </mat-form-field>
    
                                </form>
                            </div>

                            <p class="mb-0 mt-2 fw-bold mb-2">Información de auditoría</p>

                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Creado por</mat-label>
                                <input matInput [value]="producto.CREADO_POR" disabled="true">
                                <mat-icon matSuffix>person_add</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha de creación</mat-label>
                                <input matInput [value]="producto.FECHA_CREACION | date : 'd/MMM/yy, h:mm a'"
                                    disabled="true">
                                <mat-icon matSuffix>event</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Modificado por</mat-label>
                                <input matInput [value]="producto.MODIFICACION_POR" disabled="true">
                                <mat-icon matSuffix>edit</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha de modificación</mat-label>
                                <input matInput [value]="producto.FECHA_MODIFICACION | date : 'd/MMM/yy, h:mm a'"
                                    disabled="true">
                                <mat-icon matSuffix>edit_calendar</mat-icon>
                            </mat-form-field>

                            <div class="d-flex flex-row-reverse">

                                <div class="d-flex flex-row-reverse flex-wrap">
                                    <button mat-flat-button class="btn-a" type="button" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <mat-icon class="ms-2 me-1">arrow_back</mat-icon>
                                        <span class="me-2">Volver</span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="producto.ID_TIPO_PRODUCTO === 2">
                    <div class="px-lg-3 py-lg-3 align-self-center">
                        <form>
                            <p class="mb-0 mt-2 fw-bold mb-2">Detalle del Combo</p>
                            <div class="row">
                                <mat-form-field class="col-6" appearance="legacy">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre del producto" [value]="producto.NOMBRE"
                                        autocomplete="off" [disabled]="true">
                                    <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="col-6" appearance="legacy">
                                    <mat-label>Precio</mat-label>
                                    <input matInput type="text" class="textResponsive" [value]="producto.PRECIO"
                                        [disabled]="true">
                                    <mat-icon matSuffix>attach_money</mat-icon>
                                </mat-form-field>
                            </div>

                            <p class="my-0 fw-bold"></p>
                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Impuesto</mat-label>
                                <input matInput type="text" class="textResponsive" [value]="producto.PORCENTAJE"
                                    [disabled]="true">
                                <mat-icon matSuffix>percent</mat-icon>
                            </mat-form-field>

                            <p class="my-0 fw-bold"></p>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Descripción del producto" autocomplete="off"
                                    [disabled]="true" [value]="producto.DESCRIPCION">
                                <mat-icon matSuffix>edit_note</mat-icon>
                            </mat-form-field>

                            <div class="row">

                                <section class="example-section">
                                    <h6 class="my-0 fw-bold">Sin estado</h6>
                                    <mat-checkbox [checked]="producto.SIN_ESTADO" [disabled]="true">Si</mat-checkbox>
                                </section>
                            </div>

                            <!-- DETALLEEEEEEEEEEEEEEEEEEEEEEEEEES -->
                            <p class="mb-0 mt-2 fw-bold">Detalle de Productos</p>


                            <div>
                                <form class="row" *ngFor="let producto of combos; let i = index">
                                   <!--  -->
                                    <mat-form-field class="col-8" appearance="legacy">
    
                                        <mat-label>Producto {{i+1}}</mat-label>
                                        <input matInput type="text" min="0" disabled="true"
                                            class="textResponsive" step="1.00" [value]="producto.NOMBRE_PRODUCTO">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-4" appearance="legacy">
                                        <mat-label>cantidad</mat-label>
                                        <input matInput type="number" min="0" disabled="true"
                                            class="textResponsive" step="1.00" [value]="producto.CANTIDAD">
                                    </mat-form-field>
    
                                </form>
                            </div>

                            <p class="mb-0 mt-2 fw-bold">Detalle de Categoría</p>

                            <div>
                                <form class="row" *ngFor="let categoria of categorias; let i = index">
                                   <!--  -->
                                    <mat-form-field class="col-6" appearance="legacy">
    
                                        <mat-label>Categoría {{i+1}}</mat-label>
                                        <input matInput type="text" disabled="true"
                                            class="textResponsive" [value]="categoria.NOMBRE_CATALOGO">
                                    </mat-form-field>
    
                                </form>
                            </div>


                            <p class="mb-0 mt-2 fw-bold mb-2">Información de auditoría</p>

                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Creado por</mat-label>
                                <input matInput [value]="producto.CREADO_POR" disabled="true">
                                <mat-icon matSuffix>person_add</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha de creación</mat-label>
                                <input matInput [value]="producto.FECHA_CREACION | date : 'd/MMM/yy, h:mm a'"
                                    disabled="true">
                                <mat-icon matSuffix>event</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Modificado por</mat-label>
                                <input matInput [value]="producto.MODIFICACION_POR" disabled="true">
                                <mat-icon matSuffix>edit</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha de modificación</mat-label>
                                <input matInput [value]="producto.FECHA_MODIFICACION | date : 'd/MMM/yy, h:mm a'"
                                    disabled="true">
                                <mat-icon matSuffix>edit_calendar</mat-icon>
                            </mat-form-field>

                            <div class="d-flex flex-row-reverse">

                                <div class="d-flex flex-row-reverse flex-wrap">
                                    <button mat-flat-button class="btn-a" type="button" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <mat-icon class="ms-2 me-1">arrow_back</mat-icon>
                                        <span class="me-2">Volver</span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="producto.ID_TIPO_PRODUCTO === 3">
                    <div class="px-lg-3 py-lg-3 align-self-center">
                        <form>
                            <p class="mb-0 mt-2 fw-bold">Detalle de la Promoción</p>
                            <div class="row">
                                <mat-form-field class="col-6" appearance="legacy">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre del producto" [value]="producto.NOMBRE"
                                        autocomplete="off" [disabled]="true">
                                    <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="col-6" appearance="legacy">
                                    <mat-label>Precio</mat-label>
                                    <input matInput type="text" class="textResponsive" [value]="producto.PRECIO"
                                        [disabled]="true">
                                    <mat-icon matSuffix>attach_money</mat-icon>
                                </mat-form-field>
                            </div>

                            <p class="my-0 fw-bold"></p>
                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Impuesto</mat-label>
                                <input matInput type="text" class="textResponsive" [value]="producto.PORCENTAJE"
                                    [disabled]="true">
                                <mat-icon matSuffix>percent</mat-icon>
                            </mat-form-field>

                            <p class="my-0 fw-bold"></p>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Descripción del producto" [value]="producto.DESCRIPCION"
                                    autocomplete="off" [disabled]="true">
                                <mat-icon matSuffix>edit_note</mat-icon>
                            </mat-form-field>

                            <div class="row">

                                <section class="example-section">
                                    <h6 class="my-0 fw-bold">Sin estado</h6>
                                    <mat-checkbox [checked]="producto.SIN_ESTADO" [disabled]="true">Si</mat-checkbox>
                                </section>
                            </div>

                            <p class="my-0 fw-bold mt-3">Fecha inicial de la promoción</p>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha inicial de la promoción</mat-label>
                                <input matInput placeholder="Fecha inicial"
                                    [value]="producto.FECHA_INICIO | date : 'd/M/yy'" autocomplete="off"
                                    [disabled]="true">
                                <mat-icon matSuffix>edit_note</mat-icon>
                            </mat-form-field>

                            <p class="my-0 fw-bold">Fecha final de la promoción</p>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha final de la promoción</mat-label>
                                <input matInput placeholder="Fecha inicial"
                                    [value]="producto.FECHA_FINAL | date : 'd/M/yy'" autocomplete="off"
                                    [disabled]="true">
                                <mat-icon matSuffix>edit_note</mat-icon>
                            </mat-form-field>


                            <!-- DETALLEEEEEEEEEEEEEEEEEEEEEEEEEES -->
                            <p class="mb-0 mt-2 fw-bold">Detalle de Promoción</p>


                            <div>
                                <form class="row" *ngFor="let producto of promos; let i = index">
                                   <!--  -->
                                    <mat-form-field class="col-8" appearance="legacy">
    
                                        <mat-label>Producto {{i+1}}</mat-label>
                                        <input matInput type="text" min="0" disabled="true"
                                            class="textResponsive" step="1.00" [value]="producto.NOMBRE_PRODUCTO">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-4" appearance="legacy">
                                        <mat-label>cantidad</mat-label>
                                        <input matInput type="number" min="0" disabled="true"
                                            class="textResponsive" step="1.00" [value]="producto.CANTIDAD">
                                    </mat-form-field>
    
                                </form>
                            </div>

                            <p class="mb-0 mt-2 fw-bold">Detalle de Categoría</p>

                            <div>
                                <form class="row" *ngFor="let categoria of categorias; let i = index">
                                   <!--  -->
                                    <mat-form-field class="col-6" appearance="legacy">
    
                                        <mat-label>Categoría {{i+1}}</mat-label>
                                        <input matInput type="text" disabled="true"
                                            class="textResponsive" [value]="categoria.NOMBRE_CATALOGO">
                                    </mat-form-field>
    
                                </form>
                            </div>

                            <p class="mb-0 mt-2 fw-bold mb-2">Información de auditoría</p>

                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Creado por</mat-label>
                                <input matInput [value]="producto.CREADO_POR" disabled="true">
                                <mat-icon matSuffix>person_add</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha de creación</mat-label>
                                <input matInput [value]="producto.FECHA_CREACION | date : 'd/MMM/yy, h:mm a'"
                                    disabled="true">
                                <mat-icon matSuffix>event</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Modificado por</mat-label>
                                <input matInput [value]="producto.MODIFICACION_POR" disabled="true">
                                <mat-icon matSuffix>edit</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Fecha de modificación</mat-label>
                                <input matInput [value]="producto.FECHA_MODIFICACION | date : 'd/MMM/yy, h:mm a'"
                                    disabled="true">
                                <mat-icon matSuffix>edit_calendar</mat-icon>
                            </mat-form-field>

                            <div class="d-flex flex-row-reverse">

                                <div class="d-flex flex-row-reverse flex-wrap">
                                    <button mat-flat-button class="btn-a" type="button" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <mat-icon class="ms-2 me-1">arrow_back</mat-icon>
                                        <span class="me-2">Volver</span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>

</div>