<div class="px-lg-3 py-lg-3 w-100 align-self-center">
    <form>
        
        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Nombre completo</mat-label>
            <input matInput  placeholder="Nombre y apellido"> <!-- formControlName="usuario" -->
            <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo...">
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Contraseña">
            <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>

        <div class="d-flex flex-row-reverse flex-wrap">
            <button mat-flat-button class="btn-p">
                <mat-icon class="me-1">lock</mat-icon>
                <span>Generar contraseña</span>
            </button>
        </div>

        <mat-form-field *ngIf="!checked" class="example-full-width" appearance="legacy">
            <mat-label>Seleccione el rol</mat-label>
            <mat-select>
                <div class="cdk-overlay-container" ></div>
                <mat-option value="" id="selector"> -- Seleccione el rol -- </mat-option>
                <mat-option *ngFor="let rol of roles" [value]="rol.ID_ROL">
                    {{rol.ROL}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="checked" class="example-full-width" appearance="legacy">
            <mat-label>Especifique el rol</mat-label>
            <input matInput placeholder="Rol...">
            <mat-icon matSuffix>edit_document</mat-icon>
        </mat-form-field>

        <mat-checkbox  class="example-margin" (change)="check($event)">Otro rol:</mat-checkbox>

        <div class="d-flex flex-row-reverse">

            <div class="d-flex flex-row-reverse flex-wrap">
                <button mat-flat-button class="btn-a" type="submit">
                    <mat-icon class="ms-2 me-1">save</mat-icon>
                    <span class="me-2">Guardar</span>
                </button>
            </div>
        </div>
    </form>


</div>
