<div class="px-lg-3 py-lg-3 w-100 align-self-center">
    <form>
        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Nombre completo</mat-label>
            <input matInput  placeholder="Nombre y apellido"> <!-- formControlName="usuario" -->
            <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="Usuario">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo...">
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hideContra ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideContra = !hideContra" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideContra" type="button">
                <mat-icon>{{hideContra ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="d-flex flex-row-reverse flex-wrap">
            <button mat-flat-button class="btn-p">
                <mat-icon class="me-1">lock</mat-icon>
                <span>Recuperar contraseña</span>
            </button>
        </div>

        <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Seleccione el rol</mat-label>
            <mat-select>
                <!-- <mat-option value="" id="selector"></mat-option> -->
                <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </mat-option> -->
            </mat-select>
        </mat-form-field>


        <div class="d-flex flex-row-reverse">

            <div class="col-md-6 col-sm-12">
                <button mat-flat-button class="btn-a" type="submit" data-bs-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </form>


</div>
