<div class="modal fade" id="exampleModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Editar usuario</h5>
                <button mat-icon-button color="warn" #cerrarEditar (click)="limpiarFormularios()" data-bs-dismiss="modal" aria-label="Close" type="button">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">
                <div class="px-lg-3 py-lg-3 w-100 align-self-center">

                    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
                        <mat-tab label="General">
                            <form [formGroup]="formularioEdicion" (ngSubmit)="actualizar()">

                                <mat-form-field class="example-full-width mt-2" appearance="legacy">
                                    <mat-label>Usuario</mat-label>
                                    <input matInput disabled="true" [value]="usuario" placeholder="Usuario">
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="legacy">
                                    <mat-label>Nombre completo</mat-label>
                                    <input matInput placeholder="Nombre y apellido" (keyup)="toMayus('nombre')" formControlName="nombre"
                                        [value]="nombre"> <!-- formControlName="usuario" -->
                                    <mat-icon matSuffix>badge</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="legacy">
                                    <mat-label>Correo electrónico</mat-label>
                                    <input matInput placeholder="Correo..." formControlName="correo" [value]="correo">
                                    <mat-icon matSuffix>mail</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="legacy">
                                    <mat-label>Seleccione el rol</mat-label>
                                    <mat-select [value]="idRol" formControlName="rol">
                                        <div class="cdk-overlay-container"></div>
                                        <mat-option *ngFor="let rol of roles" id="selector" [value]="rol.ID_ROL">
                                            {{rol.ROL}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field *ngIf="estadoActual !== 'NUEVO'" class="example-full-width"
                                    appearance="legacy">
                                    <mat-label>Seleccione el estado</mat-label>
                                    <mat-select [value]="estadoActual" #selectEstado>
                                        <div class="cdk-overlay-container"></div>
                                        <mat-option value="ACTIVO">ACTIVO</mat-option>
                                        <mat-option value="BLOQUEADO">BLOQUEADO</mat-option>
                                        <mat-option value="VACACIONES">VACACIONES</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="d-flex flex-row-reverse">

                                    <div class="d-flex flex-row-reverse flex-wrap">
                                        <button mat-flat-button class="btn-a" type="submit">
                                            <mat-icon class="ms-2 me-1">save</mat-icon>
                                            <span class="me-2">Guardar</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>
                        <mat-tab label="Contraseña">

                            <form [formGroup]="formularioContrasena" (ngSubmit)="actualizarPassword()">

                                <mat-form-field class="example-full-width mt-2" appearance="legacy">
                                    <mat-label>Usuario</mat-label>
                                    <input matInput disabled="true" [value]="usuario" placeholder="Usuario">
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="legacy">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput placeholder="Contraseña" formControlName="contrasena"
                                        [value]="contrasenaGenerada">
                                    <mat-icon matSuffix>key</mat-icon>
                                </mat-form-field>

                                <div class="d-flex flex-row-reverse flex-wrap">
                                    <button mat-flat-button class="btn-p" type="button" (click)="generarPassword()">
                                        <mat-icon class="ms-2 me-1">lock</mat-icon>
                                        <span class="me-2">Generar contraseña</span>
                                    </button>
                                </div>

                                <div class="d-flex flex-row-reverse mt-3">

                                    <div class="d-flex flex-row-reverse flex-wrap">
                                        <button mat-flat-button class="btn-a" type="submit"
                                            [disabled]="formularioContrasena.invalid">
                                            <mat-icon class="ms-2 me-1">lock_reset</mat-icon>
                                            <span class="me-2">Resetear</span>
                                        </button>
                                    </div>
                                    <mat-spinner *ngIf="cambiandoContra" [diameter]="50" class="me-3"></mat-spinner>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>

                </div>

            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>

</div>