h3 {
    text-align: center;
    padding: 15px;
    font-weight: normal;
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
    margin-bottom: 0%;
  }

#elementosTarjeta{
  color: white;
}

.fondoOscuro {
  background-color: #212529;
  border-radius: 20px;
}

.fondoContenedor {
    background-color: #f1f1f1;
    border-radius: 20px;
}

#editar {
  background-color: #212529;
}

.letraRoja {
  color: #d12609 !important;
}

/* //boton de editar */
.editar-btn{
  background-color: var(--greybg) !important;
  color: black;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
}

.eliminar-btn {
    background-color: #d12609 !important;
    color: white;
    border: none;
    cursor: pointer;
    transition: var(--tran-03) !important;
}

#editar-btn:focus{

  box-shadow: none;
  --bs-btn-active-border-color: none;
  --bs-btn-hover-bg: none; 
  --bs-btn-hover-border-color: none;
  --bs-btn-disabled-border-color: none; 
  --bs-btn-focus-shadow-rgb: none;
  color: var(--light) !important;

}

#editar-btng:hover{

  background-color: var(--cafeh) !important;
  border: 0;
  color: var(--light) !important;
  
}

/* //boton de guardar */
.btn-guardar{
  background-color: var(--greybtn) !important;
  color: var(--light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--tran-03) !important;
}
/* //boton de actualizar */
#actualziarButton {
  background-color: var(--redh) !important;
  color: white !important;
  border-radius: 10cm;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
}

.btn-a {

  background-color: #898989 !important;
  font-size: 1rem;
  font-weight: 400;
  min-height: 3.125rem;
  border: none;
  transition: 0.3s ease all;
  border-radius: 10px;
  line-height: 50px;
  padding: inherit;
}

.btn-a:hover {

  background-color: #b1b1b1 !important;
  border: 0;

}

.background {
  background-color: rgb(224, 224, 224);
}

#contenedor{
  background-color: rgb(33, 37, 41);
}

#iconEditar{
  color: #898989;
}

#iconBlock{
  color: #f65757;
}

label{
  color: white;
}

thead, th, td{
  text-align: center;
}

.btn-p {
  
  border-radius: 10px;
  background-color: #d12609 !important;
  font-size: 1rem;
  font-weight: 400;
  min-height: 3.125rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;

}

.btn-p:hover {

  background-color: #ff2600 !important;
  border: 0;

}

.btn-a {

  background-color: #898989 !important;
  font-size: 1rem;
  font-weight: 400;
  min-height: 3.125rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 10px;
  line-height: 50px;
}

.btn-a:hover {

  background-color: #b1b1b1 !important;
  border: 0;

}

.modal-body {
  background-color: #2b2b2b;
}

.modal-footer {
  background-color: #454545;
}

@media only screen and (max-width:800px) {
  #no-more-tables tbody,
  #no-more-tables tr,
  #no-more-tables td {
      display: block;
  }
  #no-more-tables thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  #no-more-tables td {
      position: relative;
      padding-left: 50%;
      border: none;
      /* border-bottom: 1px solid #eee;  */
  }
  #no-more-tables td:before {
      content: attr(data-title);
      position: absolute;
      left: 6px;
      font-weight: bold;
  }
  #no-more-tables tr {
      border-bottom: 1px solid #ccc;
  }  
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: white;
}


    
