<div class="">
    <div class="d-flex">

        <div class="w-100">

            <div class="container w-100 ">
                <h3>Gestión de Productos</h3>

                <div class="row">
                    <!-- <div fxLayout="row wrap" 
                         fxLayout.xs="column" 
                         fxLayoutAlign="center" 
                         fxLayoutGap="20px">

                        <div fxFlex="20" 
                             fxFlex.lg="15" 
                             fxFlex.sm="30" 
                             *ngFor="">

                            <app-producto></app-producto>
                            
                        </div>
                    </div> -->
                    <div class="col-lg-8">
                        <div class="container mt-4 mb-4">
                            <app-producto></app-producto>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
</div>