
<div class="modal fade" id="exampleModal4" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 999999999 !important;">

    <div class="modal-dialog">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Detalles del Usuario</h5>
                <!-- (click)="limpiarFormulario()"  -->
                <button mat-icon-button color="warn" #cerrarEditar   data-bs-dismiss="modal" aria-label="Close" type="button">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">

                <div class="px-lg-3 py-lg-3 w-100 align-self-center">
                    <form><!-- [formGroup]="formularioRol" -->
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Usuario</mat-label>
                            <input matInput [value]="usuario.USUARIO" disabled="true"><!--[value]="rol" #inputRol (keyup)="toMayus(this.inputRol)" formControlName="rol"  (keyup)="toMayus(this.formularioRol, 'rol')" -->
                            <mat-icon matSuffix>badge</mat-icon>
                        </mat-form-field>
                
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput [value]="usuario.NOMBRE_USUARIO" disabled="true"><!--[value]="descripcion" #inputDescripcion (keyup)="toMayus(this.inputDescripcion)" formControlName="descripcion" (keyup)="toMayus(this.formularioRol, 'descripcion')" -->
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Preguntas contestadas</mat-label>
                            <input matInput [value]="usuario.PREGUNTAS_CONTESTADAS" disabled="true"><!--[value]="descripcion" #inputDescripcion (keyup)="toMayus(this.inputDescripcion)" formControlName="descripcion" (keyup)="toMayus(this.formularioRol, 'descripcion')" -->
                            <mat-icon matSuffix>quiz</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Número de ingresos</mat-label>
                            <input matInput [value]="usuario.PRIMER_INGRESO" disabled="true"><!--[value]="descripcion" #inputDescripcion (keyup)="toMayus(this.inputDescripcion)" formControlName="descripcion" (keyup)="toMayus(this.formularioRol, 'descripcion')" -->
                            <mat-icon matSuffix>login</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Fecha de venciminto</mat-label>
                            <input matInput [value]="usuario.FECHA_VENCIMIENTO | date : 'd/MMMM/yy'" disabled="true"><!--[value]="descripcion" #inputDescripcion (keyup)="toMayus(this.inputDescripcion)" formControlName="descripcion" (keyup)="toMayus(this.formularioRol, 'descripcion')" -->
                            <mat-icon matSuffix>pending_actions</mat-icon>
                        </mat-form-field>

                        <p></p>
                        <p class="">Información de auditoría</p>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Creado por</mat-label>
                            <input matInput [value]="usuario.CREADO_POR" disabled="true">
                            <mat-icon matSuffix>person_add</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Fecha de creación</mat-label>
                            <input matInput [value]="usuario.FECHA_CREACION | date : 'd/MMM/yy, h:mm a'" disabled="true">
                            <mat-icon matSuffix>event</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Modificado por</mat-label>
                            <input matInput [value]="usuario.MODIFICACION_POR" disabled="true">
                            <mat-icon matSuffix>edit</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Fecha de modificación</mat-label>
                            <input matInput [value]="usuario.FECHA_MODIFICACION | date : 'd/MMM/yy, h:mm a'" disabled="true">
                            <mat-icon matSuffix>edit_calendar</mat-icon>
                        </mat-form-field>
                
                        <div class="d-flex flex-row-reverse">

                            <div class="d-flex flex-row-reverse flex-wrap">
                                <button mat-flat-button class="btn-a" type="submit"  data-bs-dismiss="modal" aria-label="Close">
                                    <mat-icon class="ms-2 me-1">arrow_back</mat-icon>
                                    <span class="me-2">Volver</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>



            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>

</div>