<div class="container-fluid min-vh-100">

    <div class="px-lg-5 py-lg-4 p-4 w-100 min-vh-100 align-self-center my-auto">

        <div class="row">

            <div class="col-12">

                <h1 class="text-light font-weight-bold mb-4"> Reiniciar Contraseña </h1>

            </div>

            <div class="col-12">

                <form class="mt-4" [formGroup]="formCambioContrasena" (ngSubmit)="actualizarContrasena()">

                    <div class="col-12">

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Nueva contraseña</mat-label>
                            <input matInput formControlName="nuevaContrasena" [type]="hideContra ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hideContra = !hideContra"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideContra" type="button">
                                <mat-icon>{{hideContra ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                    </div>

                    <div class="col-12">

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Confirmación contraseña</mat-label>
                            <input matInput formControlName="confirmarContrasena"
                                [type]="hideRepetir ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hideRepetir = !hideRepetir"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepetir" type="button">
                                <mat-icon>{{hideRepetir ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                    </div>

                    <div class="row">

                        <div class="col-md-6 col-sm-12 mt-3">

                            <button [disabled]="formCambioContrasena.invalid" mat-flat-button color="primary"
                                class="me-3" id="btn-rojo" type="submit" data-bs-whatever="@getbootstrap">Iniciar
                                Sesión</button>

                        </div>

                        <div class="col-md-6 col-sm-12 mt-3">

                            <button mat-flat-button color="warn" class="" id="btn-gris" routerLink="/auth/login">Ir a
                                Login</button>

                        </div>

                    </div>

                </form>


            </div>


        </div>

    </div>

</div>