<div class="bg-dark fixed-botton">

    <hr id="barra">

    <footer class="textResponsive">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between">
            
            <span class="d-block ms-3 align-self-center">&copy; Todos los derechos reservados | Dr. Burger, 2022.</span>
            <span class="d-block ms-3 align-self-center">Con todo cariño: Dream Team <mat-icon id="corazon">favorite</mat-icon></span>

            <div class="DT d-flex justify-content-end align-self-center">

                <img class="d-inline me-3 cls-1" src="../../../../assets/icons/DRBURGERW.svg" height="40" width="40" alt="">
                <img class="d-inline me-3" src="../../../../assets/icons/Dream Team White.svg" height="40" width="40" alt="">

            </div>
            

        </div>

    </footer>

</div>
