<div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">
    
    <h1 class="text-light font-weight-bold mb-4"> Recuperación de contraseña </h1>

    <form class="mt-4">

        <div>
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Nmbre de usuario</mat-label>
                <input matInput placeholder="Usuario">
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
        </div>       


        <a href="/auth/recuperar-por-correo">
    
            <button type="button" class="btn btn-primary mb-3">Recuperar contraseña por correo</button>

        </a>

        <a href="/auth/pregunta-secreta" >
    
            <button type="button" class="btn btn-secondary">Recuperar contraseña mediante preguntas secretas</button>

        </a>

        

    </form>

</div>
