<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Nuevo Proveedor</h5>
                <button mat-icon-button color="warn" #cerrarCrear data-bs-dismiss="modal" 
                    aria-label="Close" type="button" (click)="cerrar()"> <!--  -->
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">

                <div class="px-lg-3 py-lg-3 w-100 align-self-center">
                    <form [formGroup]="formularioProveedor" (ngSubmit)="crearProveedor()">
                        <!--  "-->
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Proveedor</mat-label>
                            <input matInput (keyup)="toMayus(this.formularioProveedor, 'nombre')" formControlName="nombre" placeholder="Nombre del Proveedor"> <!---->
                            <mat-icon matSuffix>badge</mat-icon>
                        </mat-form-field>

                        <mat-form-field  class="example-full-width" appearance="legacy">

                            <mat-label>Seleccione un Departamento</mat-label>
                            <mat-select formControlName="departamento" (selectionChange)="cargarMunicipios()"><!--  -->
                                <div class="cdk-overlay-container"></div>
                                <ng-container *ngFor="let departamento of listaDepartamento"><!--  -->
                                    <mat-option id="selector" [value]="departamento.ID">
                                        {{departamento.NOMBRE}}</mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>

                        <mat-form-field *ngIf="listaMunicipio.length >0" class="example-full-width" appearance="legacy">

                            <mat-label>Seleccione un Municipio</mat-label>
                            <mat-select formControlName="id_municipio" ><!-- -->
                                <div class="cdk-overlay-container"></div>
                                <ng-container *ngFor="let municipio of listaMunicipio"><!--  -->
                                    <mat-option id="selector" [value]="municipio.ID">
                                        {{municipio.NOMBRE}}</mat-option>
                                </ng-container>
                                
                            </mat-select>
                            <mat-icon matSuffix>cottage</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Dirección</mat-label>
                            <input (keyup)="toMayus(this.formularioProveedor, 'detalle')" formControlName="detalle" placeholder="Dirección Detallada" matInput>
                            <mat-icon matSuffix>person_pin_circle</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Teléfono</mat-label>
                            <span matPrefix>+504 &nbsp;</span>
                            <input formControlName="telefono" placeholder="Ejemplo: 9999-9999" matInput 
                            autocomplete="off"><!--type="number" (keydown)="validarNumeros($event);" -->
                            <mat-icon matSuffix>tty</mat-icon>
                        </mat-form-field>

                        <div class="d-flex flex-row-reverse">

                            <div class="">
                                <button mat-flat-button class="btn-a" [disabled]="formularioProveedor.invalid" type="submit">
                                    <mat-icon class="ms-2 me-1">save</mat-icon>
                                    <span class="me-2">Guardar</span>
                                </button>
                            </div>
                            <mat-spinner *ngIf="enEjecucion" class="me-3" [diameter]="50">
                            </mat-spinner>
                        </div>
                    </form>

                </div>

            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>

</div>

