.example-full-width {
    width: 100%;
    color: white;
}



.btn-p{


    border-radius: 10px;
    background-color: #d12609 !important;
    font-size: 1rem;
    font-weight: 400;
    min-height: 3.125rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    padding: inherit;

}

.btn-p:hover{

    background-color:#ff2600 !important;
    border: 0;
    
}

.btn-a{
   
    background-color: #898989  !important;
    font-size: 1rem;
    font-weight: 400;
    min-height: 3.125rem;
    border: none;
    transition: 0.3s ease all;
    border-radius: 10px;
    line-height: 50px;
    padding: inherit;
}

::ng-deep .cdk-overlay-container {
    z-index: 999999 !important;
}

.btn-a:hover{

    background-color:#b1b1b1 !important;
    border: 0;
    
}