<p>recuperar-por-pregunta works!</p>

<div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">

    <h1 class="text-light font-weight-bold mb-4"> Recuperación de contraseña </h1>

    <form class="mt-4">

        

            <div class="btn-group">
                <!-- <button type="button" class="btn btn-primary">Seleccione la pregunta</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul> -->

                
            </div>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Seleccione la pregunta</mat-label>
                <mat-select disableRipple="">
                    <mat-option>None</mat-option>
                    <mat-option value="1">¿Cuál es tu color favorito?</mat-option>
                    <mat-option value="2">¿Cuál es el nombre de tu mejor amigo?</mat-option>
                    <mat-option value="3">¿Cuál fue el nombre de tu primera mascota?</mat-option>
                </mat-select>
            </mat-form-field>
            
            <div class="mb-4"  id="header">
            <label for="exampleInputEmail1" class="form-label font-wight-bold ">Respuesta:</label>
            <input type="email" class="form-control bg-dark-x border-0 textbox" placeholder="Ingrese la respuesta"
                id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-4"  id="header">
            <label for="exampleInputEmail1" class="form-label font-wight-bold">Contraseña nueva:</label>
            <input type="email" class="form-control bg-dark-x border-0 textbox" placeholder="Ingrese la nueva contraseña"
                id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-4"  id="header">
            <label for="exampleInputEmail1" class="form-label font-wight-bold">Confirmar contraseña:</label>
            <input type="email" class="form-control bg-dark-x border-0 textbox" placeholder="Confirme la contraseña que ingresó"
                id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>


            <button type="button" class="btn btn-primary me-2">Guardar</button>
            <button type="button" class="btn btn-secondary">Cerrar</button>

        

    </form>

</div>
