<p>recuperar-por-pregunta works!</p>

<div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">

    <h1 class="text-light font-weight-bold mb-4"> Pregunta Secreta </h1>

    <form class="mt-4">
            
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Seleccione la pregunta</mat-label>
                <mat-select disableRipple="">
                    <mat-option></mat-option>
                    <mat-option value="1">¿Cuál es tu color favorito?</mat-option>
                    <mat-option value="2">¿Cuál es el nombre de tu mejor amigo?</mat-option>
                    <mat-option value="3">¿Cuál fue el nombre de tu primera mascota?</mat-option>
                </mat-select>
            </mat-form-field>

            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Ingrese su Respuesta</mat-label>
                  <input matInput placeholder="Respuesta">
                  <mat-icon matSuffix>chat_bubble</mat-icon>
                </mat-form-field>
            </form>

            <div class="example-button-row mt-4">
                <button mat-flat-button color="primary" class="me-2">Verficar</button>
                <button mat-flat-button color="warn">Cerrar</button>
            </div>

        

    </form>

</div>
