<div class="container-fluid min-vh-100">

    <div class="px-lg-5 py-lg-4 p-4 w-100 min-vh-100 align-self-center my-auto">
    
        <div class="row">

            <div class="col-12">

                <h1 class="text-light font-weight-bold mb-4"> Pregunta Secreta </h1>
                
            </div>

            <div class="col-12">

                <form class="mt-4">

                    <div class="col-12">

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Seleccione la pregunta</mat-label>
                            <mat-select disableRipple="">
                                <mat-option></mat-option>
                                <mat-option value="1">¿Cuál es tu color favorito?</mat-option>
                                <mat-option value="2">¿Cuál es el nombre de tu mejor amigo?</mat-option>
                                <mat-option value="3">¿Cuál fue el nombre de tu primera mascota?</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-12">

                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Ingrese su Respuesta</mat-label>
                                <input matInput placeholder="Respuesta" autocomplete="off">
                                <mat-icon matSuffix>chat_bubble</mat-icon>
                            </mat-form-field>
                        </form>

                    </div>

                    <div class="row">

                        <div class="col-6">

                            <button mat-flat-button color="primary" class="me-3" id="btn-rojo" data-bs-toggle="modal" type="button"
                            data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Verificar</button>
    
                        </div>
    
                        <div class="col-6">
    
                            <button mat-flat-button color="warn" class="" id="btn-gris" routerLink="/auth/login">Cerrar</button>
    
                        </div>

                    </div>

                    
    
                    
            
                    
            
                   <!--  <div class="example-button-row mt-4">
                        
            
            
                       
                    </div> -->
            
                </form>
            
                <form class="mt-5">
            
                    <div class="modal fade animate__animated animate__backInUp" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            
                        <div class="modal-dialog">
            
                            <div class="modal-content" id="editar">
            
                                <div class="modal-header">
            
                                    <h5 class="modal-title" id="exampleModalLabel">Cambio de contraseña</h5>
                                    <button mat-icon-button color="warn" data-bs-dismiss="modal" aria-label="Close" type="button">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                    <!--  <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            
                                </div>
            
                                <div class="modal-body">
            
                                    <app-cambio-contrasena></app-cambio-contrasena>
            
                                </div>
            
                                <div class="modal-footer">
            
                                    <a mat-flat-button color="primary" id="btn-a" type="button" class="col-xxl-6 col-md-6 col-sm-12s"
                                    href="#">Guardar</a>
            
                                </div>
            
                            </div>
            
                        </div>
            
                    </div>
            
                </form>

            </div>
        

        </div>

        
    
        
    
    </div>

</div>
