:root{

    --primary:#2b2b2b;
    --primaryh: #545454;
    --dark:#2b2b2b;
    --dark-x: #242424;
    --light: #ffffff;
    --red: #d12609;
    --redh: #ff2600;
    --redII: #bc1c00;
    --greybg: #e0e0e0;
    --greybtn: #6c757d;
    --greybtnh:#b7c3cd;
    --cafe: #1e120d;
    --cafeh: #4a403b;
    --cafelight: #6d351b;

    --tran-05: 0.5s ease all;
    --tran-02: 0.2s ease all;
    --tran-03: 0.3s ease all;
    --tran-04: 0.4s ease all;
}

body{

    font-family: 'Montserrat', sans-serif;

}

.pb0{

    padding-bottom: 0 !important;

}

.bg-dark-x{

    background-color: #242424;

}


.form-control, .btn{

    min-height: 3.125rem;
    line-height: initial;
    color: var(--light) !important;

}

.form-control:focus{
    background-color: #242424;
    box-shadow: none;
}

.body{

    font-weight: 300;
    color: #ffffff !important;
    /* min-height: -webkit-fill-available; */
    
}


.carousel-item{

    transition: .5s ease all;

}

#logo{

    /* position: relative;
    margin-left: 40%; */
    display: block;
    margin: 0px auto;
    width: 100px;
    height: 100px;

}

#login-box h1{

    font-weight: bold;

}

.textbox { 

    background: transparent !important;
    border-bottom: 1px solid var(--greybtn) !important ;
    border-radius: 0%;
    transition: .3s ease all;

}


.textbox:focus{

    border-bottom: 1px solid var(--greybtnh) !important;
    transform: scale(1.05, 1.05) !important;

}

#header label{
    
    color: #ffffff !important;
    font-weight: bold !important;
}


.btn-primary{

    background-color: var(--red) !important;
    border: none;
    cursor: pointer;
    transition: var(--tran-03);
    border-radius: 20px;

}


.btn-primary:focus{

    box-shadow: none;
    --bs-btn-active-border-color: none;
    --bs-btn-hover-bg: none; 
    --bs-btn-hover-border-color: none;
    --bs-btn-disabled-border-color: none; 
    --bs-btn-focus-shadow-rgb: none;

}


.btn:hover{

    background-color: var(--redh) !important;
    border: 0;
    
}

#Entrar{

    color: #6c757d!important;
    padding: 0 10px 0px 10px !important;

}

.example-full-width {
    width: 100%;
    color: white;
}

/* #CboxPregunta{

    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #939ca4!important;
    color: #6c757d!important ;
    box-shadow: none;
    border-radius: 0%;
    transition: .3s ease all;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23939ca4' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")

}

#placeh{

    color: #6c757d!important ;

}

#CboxPregunta:focus{

    border-bottom: 1px solid #939ca4!important;
    transform: scale(1.05, 1.05) !important;
    box-shadow: none !important;

} */