<div class="px-lg-5 pt-lg4 pb-lg-3 p-4 pb0 w-100 mb-auto">

    <img src="/assets/img/DRBURGERW.svg" class="img-fluid" id="logo" alt="">

</div>

<div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">
    <!-- px-lg-5  -->

    <h1 class="text-light font-weight-bold mb-4">Comencemos</h1>

    <form class="mt-4" [formGroup]="formularioRegistro" (ngSubmit)="registrar()">

        <div class="mb-4" id="header">

            <div>
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" id="inputNombre" (keyup)="toMayus('nombre')" matInput placeholder="Nombre completo..." autocomplete="off">
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field>
            </div>

        </div>

        <div class="mb-4" id="header">

            <div>
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Usuario</mat-label>
                    <input formControlName="usuario"  id="inputUsuario" (keyup)="toMayus('usuario')" matInput placeholder="Usuario..." autocomplete="off">
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
            </div>

        </div>
        
                <div class="mb-4" id="header">
        
                    <div>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Correo electrónico</mat-label>
                            <input formControlName="correo" matInput placeholder="Correo..." autocomplete="off">
                            <mat-icon matSuffix>mail</mat-icon>
                          </mat-form-field>
                    </div>
        
                </div>
        
        <div class="mb-4" id="header">

            <div>
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="contrasena" matInput [type]="hideContrasena ? 'password' : 'text'">                        
                    <button mat-icon-button matSuffix (click)="hideContrasena = !hideContrasena" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideContrasena" type="button">
                        <mat-icon>{{hideContrasena ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

        </div>

        <div class="mb-4" id="header">

            <div>
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Verificar contraseña</mat-label>
                    <input formControlName="confirmContrasena" matInput [type]="hideVerificar ? 'password' : 'text'">                        
                    <button mat-icon-button matSuffix (click)="hideVerificar = !hideVerificar" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideVerificar" type="button">
                        <mat-icon>{{hideVerificar ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

        </div>

        
        <button [disabled]="formularioRegistro.invalid" mat-flat-button color="primary" class="btn btn-primary w-100" type="submit"
                data-bs-whatever="@getbootstrap">Registrarse</button>

        <hr>

        <div *ngIf="enEjecucion" class="d-flex justify-content-center">
            <div>
                <mat-spinner></mat-spinner>
                <hr>
            </div>
        </div>

        <div class="text-center px-lg-5 py-lg-4 p-4 w-100 mt-auto" id="Entrar">

            <p class="d-inline-block mb-0">
        
                ¿Ya tienes una cuenta?
        
            </p>
        
            <a routerLink="/index.html" class="text-light font-weight-bold text-decoration-none">
        
                ¡Ingresar ahora!
        
            </a>
            
        
        </div>

    </form>


</div>

