
<div class="modal fade" id="exampleModal1" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 999999999 !important;">

    <div class="modal-dialog">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Detalles del permiso</h5>
                <!-- (click)="limpiarFormulario()"  -->
                <button mat-icon-button color="warn" #cerrarEditar   data-bs-dismiss="modal" aria-label="Close" type="button">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">

                <div class="px-lg-3 py-lg-3 w-100 align-self-center">
                    <form><!-- [formGroup]="formularioRol" -->
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Rol</mat-label>
                            <input matInput [value]="permiso.ROL" disabled="true"><!--[value]="rol" #inputRol (keyup)="toMayus(this.inputRol)" formControlName="rol"  (keyup)="toMayus(this.formularioRol, 'rol')" -->
                            <mat-icon matSuffix>badge</mat-icon>
                        </mat-form-field>
                
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Pantalla</mat-label>
                            <input matInput [value]="permiso.OBJETO" disabled="true"><!--[value]="descripcion" #inputDescripcion (keyup)="toMayus(this.inputDescripcion)" formControlName="descripcion" (keyup)="toMayus(this.formularioRol, 'descripcion')" -->
                            <mat-icon matSuffix>monitor</mat-icon>
                        </mat-form-field>


                        <p class="">Permisos</p>

                        <div class="d-flex flex-column" style="margin-bottom: 16px;">

                            <mat-checkbox color="primary" disabled="true" #consultar [checked]="permiso.PERMISO_CONSULTAR">Consultar</mat-checkbox>
                            <mat-checkbox color="primary" disabled="true" #guardar [checked]="permiso.PERMISO_INSERCION">Guardar</mat-checkbox>
                            <mat-checkbox color="primary" disabled="true" #editar [checked]="permiso.PERMISO_ACTUALIZACION">Actualizar</mat-checkbox>
                            <mat-checkbox color="primary" disabled="true" #eliminar [checked]="permiso.PERMISO_ELIMINACION">Eliminar</mat-checkbox>
                        </div>


                        <p class="">Información de auditoría</p>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Creado por</mat-label>
                            <input matInput [value]="permiso.CREADO_POR" disabled="true">
                            <mat-icon matSuffix>person_add</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Fecha de creación</mat-label>
                            <input matInput [value]="permiso.FECHA_CREACION | date : 'd/MMM/yy, h:mm a'" disabled="true">
                            <mat-icon matSuffix>event</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Modificado por</mat-label>
                            <input matInput [value]="permiso.MODIFICADO_POR" disabled="true">
                            <mat-icon matSuffix>edit</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Fecha de modificación</mat-label>
                            <input matInput [value]="permiso.FECHA_MODIFICACION | date : 'd/MMM/yy, h:mm a'" disabled="true">
                            <mat-icon matSuffix>edit_calendar</mat-icon>
                        </mat-form-field>
                
                        <div class="d-flex flex-row-reverse">

                            <div class="d-flex flex-row-reverse flex-wrap">
                                <button mat-flat-button class="btn-a" type="submit">
                                    <mat-icon class="ms-2 me-1">arrow_back</mat-icon>
                                    <span class="me-2">Volver</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>



            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>

</div>

