<div *ngIf="notificacion">
    <div class="mb-2 pt-2">

        <div class="position-relative">

            <button type="button" class="btn-close position-absolute top-0 end-0 p-2 me-3 mt-3 rounded-5"
                style="background-color: #d12609;" aria-label="Close" (click)="cerrarNotificacion()"></button>

        </div>

        <mat-icon color="warn" style="font-size: 45px;" class="mt-2 iconoItemNotificacion">
            {{notificacion.TIPO_NOTIFICACION === 'INVENTARIO' ? 'inventory' :
            'restaurant'}}</mat-icon>

        <div class="mt-3 border-bottom">
            <h6 class="text-break fw-bold" style="font-size:large ;">{{notificacion.ACCION}}</h6>
            
            <h6 class="text-break col-2"
                [ngClass]="(notificacion.TIEMPO_TRANSCURRIDO | calcularTiempo | async) ? 'visually-hidden' : ''"
                style="font-size: small ; "><mat-spinner diameter="15.5"></mat-spinner></h6>

            <h6 class="text-break text-secondary"
                [ngClass]="(notificacion.TIEMPO_TRANSCURRIDO | calcularTiempo | async) ? '' : 'visually-hidden'"
                style="font-size: small ;">{{notificacion.TIEMPO_TRANSCURRIDO | calcularTiempo | async}}
                ({{notificacion.TIEMPO_TRANSCURRIDO | date : 'd/MMM/yy, h:mm a'}})</h6>
        </div>

    </div>

    <div *ngIf="notificacion.TIPO_NOTIFICACION === 'PEDIDO'" class="mb-2 mt-2">
        <div class="mt-3 border-bottom">
            <h6 class="text-break pb-1" style="font-size:large ;"><span class="fw-semibold"
                    style="color:#d12609 ;">Empleado/a: </span>{{notificacion.RESPONSABLE | titlecase}}</h6>
        </div>
    </div>

    <div *ngIf="notificacion.TIPO_NOTIFICACION === 'INVENTARIO'" class="mb-2 mt-2">
        <div class="mt-3 border-bottom">
            <h6 class="text-break pb-1" style="font-size:large ;"><span class="fw-semibold"
                    style="color:#d12609 ;">Insumo: </span>{{notificacion.INSUMO | titlecase}}</h6>
        </div>
    </div>

    <div class="mb-2 mt-2">
        <div class="mt-3 border-bottom">
            <h6 class="text-break pb-1" style="font-size:large ;"><span
                    *ngIf="notificacion.TIPO_NOTIFICACION === 'PEDIDO'" class="fw-semibold"
                    style="color:#d12609 ;">Motivo: </span><span *ngIf="notificacion.TIPO_NOTIFICACION === 'INVENTARIO'"
                    class="fw-semibold" style="color:#d12609 ;">Detalle: </span>{{notificacion.DETALLE}}</h6>
        </div>
    </div>
</div>