<div class="mb-2 mt-2">
    <img src="/assets/icons/campana-mesa.png" width="45px" alt="">
    <div class="mt-3 border-bottom">
        <h6 class="text-break" style="font-size:large ;">Se ha realizado
            un cambio en un Pedido</h6>
        <h6 class="text-break text-secondary" style="font-size: small ;">Hace 30 minutos</h6>
    </div>
</div>

<div class="mb-2 mt-2">
    <div class="mt-3 border-bottom">
        <h6 class="text-break pb-1" style="font-size:large ;"><span class="fw-semibold"
                style="color:#d12609 ;">Empleado/a: </span>Jacob ha realizado un cambio en un
            pedido</h6>
    </div>
</div>

<div class="mb-2 mt-2">
    <div class="mt-3 border-bottom">
        <h6 class="text-break pb-1" style="font-size:large ;">Cambio de producto: Mirinda x 1
            por Coca-cola x 1</h6>
    </div>
</div>

<div class="mb-2 mt-2">
    <div class="mt-3 border-bottom">
        <h6 class="text-break pb-1" style="font-size:large ;"><span class="fw-semibold"
                style="color:#d12609 ;">Motivo: </span>El cliente cambio de parecer y pidio
            cambio de una mirinda por una coca-cola.</h6>
    </div>
</div>
