.noLlevar {
    color: #58b433
}

.llevar {
    color: #d12609
}

.btn-p {


    border-radius: 10px;
    background-color: #d12609 !important;
    font-size: 1rem;
    font-weight: 400;
    min-height: 3.125rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    padding: inherit;

}

.btn-z {


    border-radius: 10px;
    background-color: #58b433 !important;
    font-size: 1rem;
    font-weight: 400;
    min-height: 3.125rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    padding: inherit;

}

.btn-z:hover {

    background-color: #82d660 !important;
    border: 0;

}

.btn-p:hover {

    background-color: #ff2600 !important;
    border: 0;

}

.btn-a {

    background-color: #898989 !important;
    font-size: 1rem;
    font-weight: 400;
    min-height: 3.125rem;
    border: none;
    transition: 0.3s ease all;
    border-radius: 10px;
    line-height: 50px;
    padding: inherit;
}

.btn-a:hover {

    background-color: #b1b1b1 !important;
    border: 0;

}

#iconEditar {
    color: #898989;
}

#iconBlock {
    color: #f65757;
}

#iconUnlock {
    color: rgb(130, 218, 113)
}

@media (max-width:992px) {
    .mesa-tamaño {
        height: 65px !important;
    }

    .icono-tamaño {
        width: 50px !important;
    }

    .hora-alineacion {
        text-align: start !important;
    }
}

@media (max-width:500px){
    .texto-mesa-hora {
        font-size: 10px !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px;
    }

    .texto-tamaño {
        font-size:larger !important;
    }

    .texto-boton {
        font-size: smaller !important;
    }
}