<div class="table-responsive mt-1">
    <table class="table rounded rounded-4 overflow-hidden text-center align-middle table-dark table-striped ">
        <thead class="bg-dark text-light align-middle">
            <tr>
                <th colspan="5" class="table-active">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column lign-items-center text-start">
                            <h6 class="fw-semibold mt-0 mb-1">Mesero: <span class="fw-normal">{{pedido.NOMBRE_USUARIO}}</span></h6>
                            <h6 class="fw-semibold my-0">Nombre: <span class="fw-normal">{{pedido.NOMBRE_CLIENTE}}</span></h6>
                        </div>

                        <div class="h-100 text-start">
                            <h6 class="fw-semibold mt-0 mb-1">Última Modificación: <span class="fw-normal">{{pedido.FECHA_MODIFICACION | date:'h:mm a'}}</span></h6>
                            <h6 class="fw-semibold my-0">Modificado por: <span class="fw-normal">{{pedido.MODIFICADO_POR}}</span></h6>
                        </div>

                        <div>
                            <button mat-flat-button color="primary" class="btn-p" data-bs-toggle="modal" *ngIf="permisos.PERMISO_ELIMINACION"
                            data-bs-target="#modalEliminarPedido" (mouseenter)="eliminarDetalle(pedido.ID, '', 0); eliminando = true;">
                                <mat-icon class="ms-1 me-1">delete</mat-icon>
                                <span class="me-2">Eliminar</span>
                            </button>
                        </div>

                    </div>
                </th>
            </tr>
            <tr *ngIf="(detalles.length == 0)">
                <td colspan="5" class="fw-semibold">Pedido vacío, agregue platos al pedido.</td>
            </tr>
            <tr *ngIf="!(detalles.length == 0)" style="white-space: nowrap;" >
                <th scope="col">Estado</th>
                <th scope="col">Plato</th>
                <th scope="col">P.Unit</th>
                <th scope="col">Gravado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody style="white-space: nowrap;" >
            <ng-container >

                <tr *ngFor="let producto of detalles; let i = index">
                    <td><span class="fw-semibold" attr.style="color: {{producto.COLOR}};">{{producto.ESTADO | titlecase}}</span></td>
                    <td>
                        {{producto.NOMBRE_PRODUCTO | titlecase}} x ( {{producto.CANTIDAD}} )<br>
                        <mat-icon *ngIf="producto.INFORMACION && producto.INFORMACION !== ''" matTooltip="Información adicional" class="align-middle me-1" style="font-size: 19px; width: 19px; height: 19px;">info</mat-icon> <span class=" align-middle">{{producto.INFORMACION | lowercase}}</span> 
                        <br *ngIf="producto.INFORMACION && producto.INFORMACION !== ''">
                        <span class="fw-semibold" [class]="getColorPlato(producto.PARA_LLEVAR)">
                            {{producto.PARA_LLEVAR ? 'Para Llevar' : 'Comer Aquí'}}
                        </span>
                    </td>
                    <td>{{( toFloat( producto.PRECIO_DETALLE ) ) | currency: 'Lps. ' }}</td>
                     <td>{{producto.CANTIDAD*( toFloat( producto.PRECIO_DETALLE )) | currency: 'Lps. ' }}<!--<div *ngIf="producto.promocion"> -->
                            <!-- (
                            <span class="" style="color:#1e120d; font-size: small;">
                                 -{{producto.descuento | number: '1.2-2' }} Lps 
                            </span>) 
                        </div>-->
                    </td>
                    <td class="">
                        <div *ngIf="actualizandoEstado[i]" class="d-flex justify-content-center align-items-center w-100">

                            <mat-spinner [diameter]="30" class=""></mat-spinner>

                        </div>
                        <div *ngIf="!actualizandoEstado[i]">

                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="actualizarEstado(producto.ID, i)" [disabled]="producto.ID_ESTADO == 4" *ngIf="permisos.PERMISO_ACTUALIZACION">
                                    <mat-icon id="iconUnlock">update</mat-icon>
                                    <span>Actualizar Estado</span>
                                </button>
                                <button mat-menu-item (click)="seleccionar(); seleccionarDetalle(producto)" routerLink="/main/pedido/editar/{{producto.ID}}">
                                    <mat-icon id="iconEditar">edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item (mouseenter)="eliminarDetalle(producto.ID, producto.NOMBRE_PRODUCTO, producto.CANTIDAD); eliminando = true;" data-bs-toggle="modal"
                                data-bs-target="#modalEliminarDetalle" *ngIf="permisos.PERMISO_ELIMINACION">
                                    <mat-icon id="iconBlock">delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </ng-container>
            
            <tr>
                <td colspan="3" class="table-active fw-bold">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-end">
                            <!-- ACÁ VA VISTA DE FACTURA!!! -->

                            <div class="d-flex "> 

                                <button mat-flat-button color="primary" (click)="seleccionar()" class="btn-a" data-bs-toggle="modal" data-bs-target="#modalAgregar" (mouseenter)="onAgregar.emit(false)">
                                    <mat-icon class="ms-2 me-1">add_circle_outline</mat-icon>
                                    <span class="me-2">Agregar</span>
                                </button>
                            </div>

                        </div>
                        <div class="d-flex flex-column">
                            <h6 class="fw-semibold mt-0 mb-1 text-end">SubTotal Mesa:</h6>
                            <h6 class="fw-semibold mt-0 mb-1 text-end">15% I.S.V.</h6>
                            <h6 class="fw-semibold mt-0 mb-1 text-end">18% I.S.V.</h6>
                            <h6 class="fw-semibold my-0 text-end">Total Mesa:</h6>
                        </div>
                    </div>
                </td>
                <td class="fw-semibold border-start border-opacity-10">
                    <div class="d-flex flex-column align-items-center">
                        <h6 class="mt-0 mb-1"> {{pedido.SUBTOTAL | currency: 'Lps. ' }} </h6>
                        <h6 class="my-0 mb-1"> {{impuesto15 | currency: 'Lps. ' }} </h6>
                        <h6 class="mt-0 mb-1"> {{impuesto18 | currency: 'Lps. ' }} </h6>
                        <h6 class="fw-semibold my-0"> {{(toFloat(pedido.SUBTOTAL) + toFloat(impuesto18) + toFloat(impuesto15)) | currency: 'Lps. ' }} </h6>
                    </div>
                    
                </td>
                <td class="align-bottom">
                    <div class="d-flex w-100 justify-content-end">

                        <button *ngIf="!(detalles.length == 0)" mat-flat-button color="primary" (click)="facturar()" class="btn-z">
                            <mat-icon class="">payments</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<app-eliminar-detalle *ngIf="eliminando" (onCerrar)="eliminando = $event" [cantidad]="cantidad" [nombre]="nombre" [mesa]="pedido.NOMBRE" [id_detalle]="idDetalle"></app-eliminar-detalle>
<app-eliminar-pedido *ngIf="eliminando" (onCerrar)="eliminando = $event" [nombre]="pedido.NOMBRE_CLIENTE" [mesa]="pedido.NOMBRE" [id_pedido]="pedido.ID"></app-eliminar-pedido>