<div class="background min-vh-100">
    <h3>Bitácora del Sistema</h3>
  
    <div class="container-md mt-2 rounded-4 pb-2" id="contenedor">
      
      <div class="d-flex flex-wrap justify-content-between align-items-center">

        <div class="d-flex mb-3 mt-3">
          <button mat-flat-button id="btn-p" class="me-3" type="button"><img src="/assets/icons/pdf.png " width=30px
              height="30px" class="me-3">Generar reporte</button>
        </div>

        <div class="align-middle text-end mb-3">
          <form [formGroup]="formularioBusqueda" (ngSubmit)="buscarRegistro()">
            <label class="ms-4 mt-3 me-3">Buscar: </label>
            <input formControlName="buscar" type="text" class="input rounded-3">
          </form>
        </div>

      </div>
  
      <div class="table-responsive" id="no-more-tables">
        <table class="table table-dark table-striped ">
          <thead class="bg-dark text-light">
            <tr>
              <th>Fecha</th>
              <th>Usuario</th>
              <th>Pantalla</th>
              <th>Acción</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registro of registros">
              <td data-title="Fecha">{{registro.FECHA | date : 'd/M/yy, h:mm a'}}</td>
              <td data-title="Usuario">{{registro.USUARIO | titlecase}}</td>
              <td data-title="Pantalla">{{registro.OBJETO | titlecase}}</td>
              <td data-title="Accion">{{registro.ACCION | titlecase}}</td>
              <td data-title="Descripción">{{registro.DESCRIPCION | lowercase}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <mat-paginator id="paginador" [length]="tamano" [pageSize]="limite" [pageSizeOptions]="[5, 10, 25, 50, tamano]"
        aria-label="Select page" [pageIndex]="indice" (page)="cambioDePagina($event) ;">
      </mat-paginator>
    </div>    
  
    <div class="mt-4"> <br></div>

  </div>
