<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable modal-lg">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Nuevo CAI</h5>

                <button mat-icon-button color="warn" #cerrarCrear data-bs-dismiss="modal" aria-label="Close"
                    type="button">
                    <!-- (click)="cerrar()" -->
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">
                <div class="px-lg-3 py-lg-3 w-100 align-self-center">
                    <form>
                        <!-- [formGroup]="formularioCreacion" -->

                        <img src="../../../../../../../assets/img/logo-sar-blanco.webp" class="rounded mx-auto d-block mb-3" width="80px" height="80px">

                        <p class="my-0 fw-bold">CAI</p>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>CAI</mat-label>
                            <input matInput type="text" formControlName="CAI" 
                             mask="AAAAAA-AAAAAA-AAAAAA-AAAAAA-AAAAAA-AA" placeholder="Ingrese el CAI" autocomplete="off">
                            <!-- (keyup)="toMayus(this.formularioCreacion, 'nombre')" -->
                            <mat-icon matSuffix>description</mat-icon>
                        </mat-form-field>

                        <p class="mb-0 mt-2 fw-bold">Fechas</p>
                        <form class="row">

                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Fecha autorizada</mat-label>
                                <input matInput [matDatepicker]="picker1" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Fecha limite</mat-label>
                                <input matInput [matDatepicker]="picker2" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                            </mat-form-field>
                        </form>

                        <p class="mb-0 mt-2 fw-bold">Rangos</p>
                        <form class="row">
                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Rango máximo</mat-label>
                                <input matInput type="text" min="0" formControlName="cantidad_maxima"
                                    autocomplete="off">
                                <!-- (keydown)="validarNumeros($event)" (paste)="$event.preventDefault()" -->
                                <mat-icon matSuffix>add_circle</mat-icon>
                            </mat-form-field>

                            <mat-form-field class="col-6" appearance="legacy">
                                <mat-label>Rango mínimo</mat-label>
                                <input matInput type="text" min="0" formControlName="cantidad_minima"
                                    autocomplete="off">
                                <!-- (keydown)="validarNumeros($event)" (paste)="$event.preventDefault()" -->
                                <mat-icon matSuffix>remove_circle</mat-icon>
                            </mat-form-field>
                        </form>

                        <!-- <div class="inputfield d-flex justify-content-center" data-bs-toggle="collapse"
                            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label mx-2" for="flexCheckDefault">
                                Definir Número Actual
                            </label>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <mat-form-field class="example-full-width" appearance="legacy">
                                <mat-label>Número actual</mat-label>
                                <input matInput type="text" min="0" formControlName="cantidad_minima"
                                    autocomplete="off">
                                (keydown)="validarNumeros($event)" (paste)="$event.preventDefault()"
                            </mat-form-field>
                        </div> -->

                        <div class="d-flex flex-row-reverse">

                            <div class="">
                                <button mat-flat-button class="btn-a">
                                    <!--  [disabled]="formularioCreacion.invalid" type="button"
                                (click)="crearInsumo()" -->
                                    <!--  [disabled]="formularioParametro.invalid" -->
                                    <mat-icon class="ms-2 me-1">save</mat-icon>
                                    <span class="me-2">Guardar</span>
                                </button>
                            </div>
                            <mat-spinner *ngIf="enEjecucion" class="me-3" [diameter]="50">
                            </mat-spinner>
                        </div>
                    </form>

                </div>

            </div>

            <div class="modal-footer">
            </div>

        </div>

    </div>

</div>