<div class="modal fade" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable modal-lg">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Detalle de compra</h5>
                <button mat-icon-button color="warn" (click)="cerrar()" #cerrarCrear data-bs-dismiss="modal" aria-label="Close"
                    type="button">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">

                <div class="px-lg-3 py-lg-3 w-100 align-self-center">
                    <form>
                        <!--  -->
                        <!--  (keyup)="toMayus(this.formularioRol, 'rol')" formControlName="rol"-->
                        <p class="my-0 fw-bold">Proveedor</p>
                        <mat-form-field class="example-full-width" appearance="legacy">

                            <mat-label>Nombre del proveedor</mat-label>
                            <input matInput [disabled]="true" value="{{compra.PROVEEDOR}}"> <!-- formControlName="usuario" -->
                            <mat-icon matSuffix>store</mat-icon>
                        </mat-form-field>

                        <p class="mb-0 mt-2 fw-bold">Detalle de compra</p>

                        <div>
                            <form class="row" *ngFor="let insumo of detalle; let i = index">
                               <!--  -->
                                <mat-form-field class="col-6" appearance="legacy">

                                    <mat-label>Insumo {{i+1}}</mat-label>
                                    <mat-select class="textResponsive" disabled="true" [value]="insumo.ID_INSUMO">
                                        <div class="cdk-overlay-container"></div>
                                        <ng-container *ngFor="let insumos of listaInsumo">
                                            <mat-option id="selector" [value]="insumos.ID">
                                                ({{insumos.UNIDAD_MEDIDA | lowercase}})-{{insumos.NOMBRE}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-3" appearance="legacy">
                                    <mat-label>cantidad</mat-label>
                                    <input matInput type="number" min="0" disabled="true"
                                        class="textResponsive" step="1.00" [value]="insumo.CANTIDAD">
                                </mat-form-field>

                                <mat-form-field class="col-3" appearance="legacy">
                                    <mat-label>Precio unitario</mat-label>
                                    <input matInput [value]="insumo.PRECIO_COMPRA" type="number" min="0" class="textResponsive" step="1.00" disabled="true">
                                    
                                </mat-form-field>

                            </form>
                        </div>

                        <br>
                        <p class="mb-0 mt-3 fw-bold">Total pagado</p>
                        <mat-form-field style="border-top: 0px;" appearance="legacy">
                            <input matInput value="{{compra.TOTAL_PAGADO}} Lps" type="text" class="textResponsive" disabled="true">
                        </mat-form-field>

                        <div class="d-flex flex-row-reverse">

                            <div class="d-flex flex-row-reverse flex-wrap">
                                <button mat-flat-button class="btn-a" type="button" data-bs-dismiss="modal" (click)="cerrar()" aria-label="Close">
                                    <mat-icon class="ms-2 me-1">arrow_back</mat-icon>
                                    <span class="me-2">Volver</span>
                                </button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

            <div class="modal-footer">
            </div>

        </div>

    </div>

</div>