<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="fondoModal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Pedido</h5>
                <button mat-icon-button color="warn" (click)="cerrar()" type="button">
                    <!-- (click)="cerrar()" -->
                    <mat-icon>cancel</mat-icon>
                </button>

                <button mat-icon-button color="warn" class="visually-hidden" (click)="cerrar()" #cerrarCrear
                    data-bs-dismiss="modal" aria-label="Close" type="button">
                    <!-- (click)="cerrar()" -->
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <div class="modal-body p-0">
                <!-- Acordeon -->

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item rounded-0">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button rounded-0" (click)="pedidoNormalForm = true" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                Pedido Normal
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="form">
                                    <form [formGroup]="formularioNuevoNormal">

                                        <div class="inputfield">
                                            <label>Mesa *</label>
                                            <input type="text" class="form-control" formControlName="nombre"
                                                placeholder="" (keyup)="toMayus(this.formularioNuevoNormal, 'nombre')">
                                        </div>

                                    </form>

                                    <div class="mt-3 form-check">
                                        <input type="checkbox" #checkDividido class="form-check-input"
                                            id="flexCheckDefault" data-bs-toggle="collapse"
                                            data-bs-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample" (click)="changeChecked()">
                                        <label class="form-check-label" for="flexCheckDefault">Cuenta
                                            Dividida</label>
                                    </div>

                                    <div class="mt-3 collapse" id="collapseExample">

                                        <div class="mb-3">
                                            <label for="">Número de personas a pagar</label>
                                            <div class="row">
                                                <div class="col-5 pe-0">

                                                    <input type="number" style="text-align: end;" class="form-control"
                                                        #numeroPersonas placeholder="" min="2" value="2"
                                                        (keydown)="$event.preventDefault()"
                                                        (paste)="$event.preventDefault()"
                                                        (change)="actualizarDivisionDeCuenta()">

                                                </div>
                                                <div class="col-1 px-0">
                                                    <button (click)="subirValor()" mat-icon-button
                                                        aria-label="Example icon button with a vertical three dot icon">
                                                        <mat-icon>expand_less</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="col-1 px-0">
                                                    <button (click)="bajarValor()" mat-icon-button
                                                        aria-label="Example icon button with a vertical three dot icon">
                                                        <mat-icon>expand_more</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <form [formGroup]="formularioCuentaDividida">

                                            <div formArrayName="nombre">

                                                <div *ngFor="let nombre of cuentaDivididaArr.controls; let i = index;">

                                                    <div class="mb-3">
                                                        <label for="nombre{{i}}" class="">Nombre</label>
                                                        <input type="text" class="form-control" id="nombre{{i}}"
                                                            placeholder="Persona {{i+1}}" [formControlName]="i" (keyup)="toMayusArray(cuentaDivididaArr, i)">
                                                    </div>

                                                </div>

                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded-0">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed rounded-0" (click)="pedidoNormalForm = false"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Pedido de Mostrador
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="">
                                    <div class="form">

                                        <form [formGroup]="formularioMostrador">

                                            <div class="mb-3">
                                                <label for="mesaInput" class="form-label ">Nombre
                                                    *</label>
                                                <input type="text" class="form-control" id="mesaInput" (keyup)="toMayus(this.formularioMostrador, 'nombre')"
                                                    formControlName="nombre" placeholder="Nombre">
                                            </div>

                                            <div class="mb-3">
                                                <label for="personas" class="form-label ">Información</label>
                                                <div class="d-flex">
                                                    <input type="text" class="form-control"
                                                        formControlName="informacion" id="personas"
                                                        placeholder="Información" (keyup)="toMayus(this.formularioMostrador, 'informacion')">
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button mat-flat-button class="btn-a" type="button"
                    [disabled]="pedidoNormalForm ? checkedControl() : formularioMostrador.invalid"
                    (click)="postMesaPedido()">
                    <!--   -->
                    <mat-icon class="ms-2 me-1">add_circle_outline</mat-icon>
                    <span class="me-2">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>