.background{
    width: 100%;
    
    background-image: url(/assets/img/FondoP1.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  /*   background-color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
    height:100vh; */
}

@media (max-width:400px){
  .visible-400 {
      display: flex !important;
  }

  .hidden-400 {
      display: none !important;
  }
  
  .btn-ver-todo {
      width: 95% !important;
  }

  .derechaIzquierda {
      width: 100% !important;
  }

  .texto-767 {
    font-size:x-small !important;
  }

}

@media (max-width:767px){
  .texto-767 {
    font-size:smaller;
  }

  .hidden-767 {
    display: none !important;
  }
}

#logoPerfil{
  border-radius: 50%;
  width: 70%;
}

.visible-400 {
  display: none;
}

#informacionGeneral{
  background-color: #212529;
  color: white;
}

#contenidoPerfil {
  background-color: #212529;
  color: white;
}

#elementosTarjeta{
  color: white;
}

.fondoOscuro {
  background-color: #212529;
}

#editar {
  background-color: #212529;
}

#nombreUsuario{
  -webkit-text-stroke: 4px; 
}

.letraRoja {
  color: #d12609 !important;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-input-wrapper {
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}

.collapse{

  transition: var(--tran-03) !important;

}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-full-width {
  width: 100%;
  color: white;
  background-color: #212529;

}

.example-full-width-cont {
  width: 100%;
  color: white;
}

#label-input {
  color: var(--greybtn) !important;
}

/* //boton de editar */
.editar-btn{
  background-color: var(--greybg) !important;
  color: black;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
}

#editar-btn:focus{

  box-shadow: none;
  --bs-btn-active-border-color: none;
  --bs-btn-hover-bg: none; 
  --bs-btn-hover-border-color: none;
  --bs-btn-disabled-border-color: none; 
  --bs-btn-focus-shadow-rgb: none;
  color: var(--light) !important;

}

#editar-btng:hover{

  background-color: var(--cafeh) !important;
  border: 0;
  color: var(--light) !important;
  
}

/* //boton de guardar */
.btn-guardar{
  background-color: var(--greybtn) !important;
  color: var(--light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--tran-03) !important;
}
/* //boton de actualizar */
#actualziarButton {
  background-color: var(--redh) !important;
  color: white !important;
  border-radius: 10cm;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
}
/* //boton de cancelar */
/* #cancelarBtn {
  background-color: var(--primaryh) !important;
  color: white !important;
  border-radius: 10cm;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
} */

.btn-a {

  background-color: #898989 !important;
  font-size: 1rem;
  font-weight: 400;
  min-height: 3.125rem;
  border: none;
  transition: 0.3s ease all;
  border-radius: 10px;
  line-height: 50px;
  padding: inherit;
}

.btn-a:hover {

  background-color: #b1b1b1 !important;
  border: 0;

}

