body{
    background-color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
}

#contenedor {
  background-color: rgb(224, 224, 224);
}

:root{

  --primary:#2b2b2b;
  --primaryh: #545454;
  --light: #ffffff;
  --red: #d12609;
  --redh: #ff2600;
  --redII: #bc1c00;
  --greybg: #e0e0e0;
  --greybtn: #6c757d;
  --greybtnh:#b7c3cd;
  --cafe: #1e120d;
  --cafeh: #4a403b;
  --cafelight: #6d351b;

  --tran-05: 0.5s ease all;
  --tran-02: 0.2s ease all;
  --tran-03: 0.3s ease all;
  --tran-04: 0.4s ease all;
}

#informacionGeneral{
  background-color: #212529;
  color: white;
}

#contenidoPerfil {
  background-color: #212529;
  color: white;
}

#elementosTarjeta{
  color: white;
}

.fondoOscuro {
  background-color: #212529;
}

#editar {
  background-color: #212529;
}

#nombreUsuario{
  -webkit-text-stroke: 4px; 
}

.letraRoja {
  color: #d12609 !important;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-input-wrapper {
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}

.collapse{

  transition: var(--tran-03) !important;

}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-full-width {
  width: 100%;
  color: white;
  background-color: #212529;

}

.example-full-width-cont {
  width: 100%;
  color: white;
}

#label-input {
  color: var(--greybtn) !important;
}

/* //boton de editar */
.editar-btn{
  background-color: var(--greybg) !important;
  color: black;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
}

#editar-btn:focus{

  box-shadow: none;
  --bs-btn-active-border-color: none;
  --bs-btn-hover-bg: none; 
  --bs-btn-hover-border-color: none;
  --bs-btn-disabled-border-color: none; 
  --bs-btn-focus-shadow-rgb: none;
  color: var(--light) !important;

}

#editar-btng:hover{

  background-color: var(--cafeh) !important;
  border: 0;
  color: var(--light) !important;
  
}

/* //boton de guardar */
.btn-guardar{
  background-color: var(--greybtn) !important;
  color: var(--light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--tran-03) !important;
}
/* //boton de actualizar */
#actualziarButton {
  background-color: var(--redh) !important;
  color: white !important;
  border-radius: 10cm;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
}
/* //boton de cancelar */
/* #cancelarBtn {
  background-color: var(--primaryh) !important;
  color: white !important;
  border-radius: 10cm;
  border: none;
  cursor: pointer;
  transition: var(--tran-03) !important;
} */

