<div class="d-flex flex-wrap justify-content-between align-items-center pb-0 pt-3">

    <div class="d-flex flex-wrap ">

        <button mat-flat-button class="me-3 btn-p mb-2" type="button"><img src="/assets/icons/pdf.png "
                width=30px height="30px" class="me-3">Generar reporte</button>
        <button mat-flat-button class="me-3 btn-a mb-2" type="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Nuevo</button>
    </div>

    <div class="d-flex align-items-center flex-wrap" style="height: 100%;">
        <!-- [formGroup]="formularioBusqueda" class="mb-2" (ngSubmit)="buscarRegistro()" -->
        <form>
            <label class="me-3">Buscar:</label>
            <!--  formControlName="buscar" -->
            <input type="text" class="input rounded-3">
        </form>

    </div>

</div>

<hr class="text-white-50 m-2">

<div class="table-responsive tabla" id="no-more-tables">
    <table class="table table-dark table-striped ">
        <thead class="bg-dark text-light">
            <tr>
                <th>Rol</th>
                <th>Valor</th>
                <th>Tipo de notificacion</th>
                <th>Recibir</th>
                <th>Creado Por</th>
                <th>Creacion</th>
                <th>Modificado Por</th>
                <th>Modificacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <tr *ngIf="registros.length < 1">
                <td colspan="14" class="align-middle">
                    <div class="d-flex align-items-center justify-content-center">
                        <mat-icon id="iconBlock">info_outline</mat-icon>
                        <strong class="fw-normal text-light ms-2">No se encontraron registros</strong>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let registro of registros">
                <td data-title="Parámetro">{{registro.PARAMETRO}}</td>
                <td data-title="Valor">{{registro.VALOR}}</td>
                <td data-title="Creado Por">{{registro.CREADO_POR | titlecase}}</td>
                <td data-title="Creación">{{registro.FECHA_CREACION | date : 'd/M/yy, h:mm a'}}</td>
                <td data-title="Modificado Por">{{registro.MODIFICADO_POR | titlecase}}</td>
                <td data-title="Modificación">{{registro.FECHA_MODIFICACION | date : 'd/M/yy, h:mm a'}}</td>
                <td data-title="Acción">
                    <!-- (click)="seleccionarParametro(registro.ID_PARAMETRO, registro.PARAMETRO, registro.VALOR)" -->
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#exampleModal2"
                            data-bs-whatever="@getbootstrap">
                            <mat-icon id="iconEditar">edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#exampleModal3"
                            data-bs-whatever="@getbootstrap">
                            <mat-icon id="iconBlock">delete_forever</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<mat-paginator id="paginador" [length]=10 [pageSize]=10 [pageSizeOptions]="[5, 10, 25, 50, 10]"
    aria-label="Select page" [pageIndex]=0>
</mat-paginator>
<!-- (page)="cambioDePagina($event)" -->