
.carousel-item{

    transition: .5s ease all;

}

.img1{

    background-image: url("/assets/img/IMG1.webp");
    background-size: cover;
    background-position: center;

}

.img2{

    background-image: url("/assets/img/IMG2.webp");
    background-size: cover;
    background-position: center;

}

.img3{

    background-image: url("/assets/img/IMG3.webp");
    background-size: cover;
    background-position: center;

}