<div class="">
    <h3>Gestión de Permisos</h3>

    <div class="container-md rounded-4 pb-2" id="contenedor">
        <mat-tab-group animationDuration="0ms" mat-align-tabs="center">

            <mat-tab label="Sistema">
                <app-permisos-sistema #hijoPermisoSistema [roles]="roles" [pantallas]="listaPantalla" (onAbrirMenu)="editandoSistema = $event" (onSeleccionar)="cargarPermiso($event)"></app-permisos-sistema>
            </mat-tab>

            <mat-tab label="Notificaciones">
                <app-permisos-notificacion #hijoPermisoNotificacion [roles]="roles" [tiposDeNotificacion]="listaTipoNoti" (onAbrirMenu)="editandoNotificacion = $event" (onSeleccionar)="cargarPermisoNoti($event)">
                </app-permisos-notificacion>
            </mat-tab>

        </mat-tab-group>

    </div>

    <div class="mt-4"> <br></div>

    <!-- PERMISOS DE SISTEMA -->
    <!-- --------------------------- Modal para editar permiso --------------------------- -->
    <app-editar-permiso *ngIf="editandoSistema" (onActualizacion)="recargar()" (onCerrar)="editandoSistema = $event"></app-editar-permiso>
    <!-- --------------------------- Modal para ver más información ---------------------------- -->
    <app-ver-detalle-permiso></app-ver-detalle-permiso>

    <!-- PERMISOS DE NOTIFICACIÓN -->
    <app-editar-permiso-notificacion *ngIf="editandoNotificacion" (onActualizacion)="recargarNotificacion()" (onCerrar)="editandoNotificacion = $event"></app-editar-permiso-notificacion>

</div>