<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable modal-lg">

        <div class="modal-content" id="fondoModal">

            <div class="modal-header">

                <h5 class="modal-title ms-3" id="exampleModalLabel">Ingresar nueva compra</h5>
                <button mat-icon-button color="warn" (click)="cerrar()"
                    type="button">
                    <!-- (click)="cerrar()" -->
                    <mat-icon>cancel</mat-icon>
                </button>

                <button mat-icon-button color="warn" class="visually-hidden" #cerrarCrear data-bs-dismiss="modal" aria-label="Close"
                    type="button">
                    <!-- (click)="cerrar()" -->
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="modal-body">

                <div class="px-lg-3 py-lg-3 w-100 align-self-center">
                    <form [formGroup]="formularioCreacion" (ngSubmit)="ingresarCompra()">
                        <!--  -->
                        <!--  (keyup)="toMayus(this.formularioRol, 'rol')" formControlName="rol"-->
                        <p class="my-0 fw-bold">Proveedor</p>
                        <mat-form-field class="example-full-width" appearance="legacy">

                            <mat-label>Seleccione un Proveedor</mat-label>
                            <mat-select formControlName="proveedor" (valueChange)="manipulado = true" class="textResponsive">
                                <div class="cdk-overlay-container"></div>
                                <ng-container *ngFor="let proveedor of listaProveedor">
                                    <mat-option id="selector" [value]="proveedor.ID">
                                        {{proveedor.NOMBRE}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <p class="mb-0 mt-2 fw-bold">Detalle de compra</p>

                        <div formArrayName="compra">
                            <form class="row" [formGroupName]="i"
                                *ngFor="let detalle of compra.controls; let i = index">

                                <mat-form-field class="col-5" appearance="legacy">

                                    <mat-label>Insumo {{i+1}}</mat-label>
                                    <mat-select formControlName="insumo" (valueChange)="manipulado = true" class="textResponsive">
                                        <div class="cdk-overlay-container"></div>
                                        <ng-container *ngFor="let insumo of listaInsumo">
                                            <mat-option id="selector" [value]="insumo.ID">
                                                ({{insumo.UNIDAD_MEDIDA | lowercase}})-{{insumo.NOMBRE}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-3" appearance="legacy">
                                    <mat-label>cantidad</mat-label>
                                    <input matInput type="number" min="0" formControlName="cantidad"
                                        class="textResponsive" (paste)="$event.preventDefault()" step="1.00"
                                        (change)="calcularTotal(); manipulado = true" (keyup)="calcularTotal(); manipulado = true"
                                        (keydown)="validarNumeros($event)">
                                </mat-form-field>

                                <mat-form-field class="col-3" appearance="legacy">
                                    <mat-label>Precio</mat-label>
                                    <input matInput type="number" min="0" class="textResponsive"
                                        (paste)="$event.preventDefault()" (keydown)="validarNumeros($event)" step="1.00"
                                        (change)="calcularTotal(); manipulado = true" (keyup)="calcularTotal(); manipulado = true" formControlName="precio">
                                </mat-form-field>

                                <div class="col-1 eliminarPaddin">
                                    <div class="d-flex justify-content-center">
                                        <button mat-icon-button color="warn" (click)="eliminarInsumo(i, $event)"
                                            type="button" [disabled]="compra.controls.length <= 1">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <div>

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>

                        <button mat-button color="warn" (click)="agregarInsumo(); manipulado = true" class="ps-0 pe-1" type="button">
                            <mat-icon>add</mat-icon>
                            <mat-label class="text-end">Más insumos</mat-label>
                        </button>

                        <br>
                        <p class="mb-0 mt-3 fw-bold">Total pagado</p>
                        <mat-form-field style="border-top: 0px;" appearance="legacy">
                            <input formControlName="total" matInput type="number" class="textResponsive">
                        </mat-form-field>

                        <div class="d-flex flex-row-reverse">

                            <div class="">
                                <button mat-flat-button class="btn-a" type="submit"
                                    [disabled]="formularioCreacion.invalid">
                                    <!--   -->
                                    <mat-icon class="ms-2 me-1">save</mat-icon>
                                    <span class="me-2">Guardar</span>
                                </button>
                            </div>
                            <mat-spinner *ngIf="enEjecucion" class="me-3" [diameter]="50">
                            </mat-spinner>
                        </div>
                    </form>

                </div>

            </div>

            <div class="modal-footer">
            </div>

        </div>

    </div>

</div>