<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push" class="sidebar">

        <mat-toolbar color="primary" class="header">


            <div class="row">

                <div class="col-12 image-text">

                    
                    <span class="image align-self-center me-2">
                        
                        <img src="../../../assets/icons/DrBurgerLI.svg" (click)="sidenav.toggle()">
                        
                    </span>
                    
                    <div class="text header-text">

                        <span class="name"><span>Menú</span></span>

                    </div>

                </div>

                <!-- <div class="col-12 image-text">

                    


                </div> -->

                <!-- <div class="image-text">
                    
                    <span class="spacer"></span>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
    
                    <div class="text header-text">    
                    </div>
   
                </div> -->

            </div>

        </mat-toolbar>

        <mat-nav-list *ngFor="let data of sidenavData">

            <a [routerLink]="[data.routeLink]" 
            mat-list-item 
            (click)="sidenav.toggle()">
                

                <mat-icon class="material-icons-outlined" 
                mat-list-icon id="icon">

                    {{data.icon}}
                    
                </mat-icon>

                <span id="item">

                    {{data.label}}

                </span>
            </a>

            <!-- 

            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()" id="item">
                <mat-icon mat-list-icons class="me-2">add</mat-icon>
                <span> Inventario</span>
            </a>

            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()" id="item">
                <mat-icon mat-list-icons class="me-2">add</mat-icon>
                <span> Catálogo de ventas</span>
            </a>


            <a routerLink="./seguridad/usuario" mat-list-item (click)="sidenav.toggle()" id="item">
                <mat-icon mat-list-icons class="me-2">add</mat-icon>
                <span> Seguridad</span>
            </a>

            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()" id="item">
                <mat-icon mat-list-icons class="me-2">add</mat-icon>
                <span> Administración</span>
            </a> -->

        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>

        <button mat-icon-button class="btn-sidenav" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <div class="container-fluid d-flex justify-content-center p-2">
            <a class="nav-link mx-2" routerLink="">
                <img src="../../../assets/icons/DRBURGERW.svg" height="45" width="50" alt="">
            </a>
        </div>



    </mat-toolbar>


    <div class="mt-0">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

<!--    <div class="container">
    </div>


 =========================================================================================== -->

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="./sidenav.component.css">

    <title>Monitoreo de Ventas</title>
</head>

<mat-sidenav-container fullscreen>

    <div class="d-flex">

        <nav class="sidebar close col-1">

            <header>

                <div class="image-text">

                    <span class="image">

                        <img src="../../../assets/icons/DrBurgerLI.svg">

                    </span>

                    <div class="text header-text">

                        <span class="name">Accesos Directos</span>

                    </div>

                </div>

                <i class="bx bx-chevron-right toggle"></i>

            </header>

            <div class="menu-bar">

                <div class="menu">

                    <li class="search-box">

                        <i class='bx bx-search icon'></i>

                        <input type="text" placeholder="Search...">

                    </li>

                    <ul class="menu-links">

                        <li class="nav-link">

                            <a href="/main/seguridad/usuario">

                                <i class='bx bx-notepad icon'></i>

                                <span class="text nav-tex">Pedidos</span>

                            </a>

                        </li>

                        <li class="nav-link">

                            <a href="">

                                <i class='bx bx-calculator icon'></i>

                                <span class="text nav-tex">Caja</span>

                            </a>

                        </li>

                        <li class="nav-link">

                            <a href="">

                                <i class='bx bx-group icon'></i>

                                <span class="text nav-tex">Usuarios</span>

                            </a>

                        </li>

                        <li class="nav-link">

                            <a href="">

                                <i class='bx bx-shopping-bag icon'></i>

                                <span class="text nav-tex">Insumos</span>

                            </a>

                        </li>

                        <li class="nav-link">

                            <a href="">

                                <i class='bx bx-bowl-hot icon'></i>

                                <span class="text nav-tex">Productos</span>

                            </a>

                        </li>

                    </ul>

                </div>

            </div>

           

        </nav>

        <app-navbar></app-navbar>
        <router-outlet></router-outlet>

    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <script src="./sidenav.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>


</mat-sidenav-container> -->