<mat-toolbar class="bg-dark fixed-top">

    <span class="spacer"></span>

    <app-toolbar class="w-100"></app-toolbar>
    
</mat-toolbar>

<div class="offcanvas offcanvas-start min-vh-100" #sidenav data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">

    <div class="offcanvas-header header my-3">

        <div class="row">

            <div class="image-text">


                <span class="image d-flex d-inline">

                    <img src="../../../assets/icons/DrBurgerLI.svg"> 

                </span>

                <div class="text header-text">

                    <span class="name"><span>Dr. Burger</span></span>

                </div>

            </div>

        </div>

        <button mat-mini-fab color="primary" data-bs-dismiss="offcanvas" aria-label="Close">
            <mat-icon>navigate_before</mat-icon>
        </button>

    </div>

    <div class="offcanvas-body">

        <mat-nav-list *ngFor="let data of sidenavData">

            <a *ngIf="data.items && data.items.length > 0" (click)="handleClick(data)">


                <mat-icon class="material-icons-outlined" mat-list-icon id="icon">

                    {{data.icon}}

                </mat-icon>

                <div class="d-flex justify-content-between align-items-center" style="width: 100%;">

                    <span id="item">
    
                        {{data.label}}
    
                    </span>
    
    
                    <mat-icon class="material-icons-outlined menu-collapse-icon" mat-list-icon id="icon" *ngIf="data.items"
                        [ngClass]="!data.expanded ? 'hidden' : ''">
                        <!-- si la data no está expandida ocultará este ícono -->
                        expand_more
                    </mat-icon>
                    <mat-icon class="material-icons-outlined menu-collapse-icon" mat-list-icon id="icon" *ngIf="data.items"
                        [ngClass]="!data.expanded ? '' : 'hidden'">
                        <!-- si la data no está expandida mostrará este otro ícono-->
                        chevron_right
                    </mat-icon>
                </div>


            </a>

            <a routerLink="{{data.routeLink}}" *ngIf="!data.items || (data.items && data.items.length === 0)"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-bs-dismiss="offcanvas" 
            aria-label="Close">


                <mat-icon class="material-icons-outlined" mat-list-icon id="icon">

                    {{data.icon}}

                </mat-icon>

                <span id="item">

                    {{data.label}}

                </span>

            </a>

            <div *ngIf="data.items && data.items.length > 0">

                <app-sub-nivel-menu [data]="data" [multiple]="multiple" [expanded]="data.expanded"></app-sub-nivel-menu>

            </div>

        </mat-nav-list>

    </div>

</div>