<div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">

    <div class="row">
        <div class="col-12">
            <form [formGroup]="formularioRecuperacion" (ngSubmit)="validarUsuario()">

                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput formControlName="usuario" placeholder="Usuario">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>

                <mat-label>Seleccionar el método de recuperación</mat-label>

                <div class="row">
                    <div class="col-md-6 col-sm-12 mt-3">
                        <button mat-flat-button color="primary" id="btn-p" class="me-3" type="button"
                            [disabled]="formularioRecuperacion.invalid" data-bs-dismiss="modal" (click)="sendCorreoRecuperacion()">Correo
                            electrónico</button>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-3">
                        <button mat-flat-button color="accent" id="btn-a" type="submit" data-bs-dismiss="modal" class="me-3"
                            [disabled]="formularioRecuperacion.invalid">Pregunta secreta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>