<div class="">
  <h3 id="titulo">Inventario</h3>

  <div class="container-md rounded-4 pb-2" id="contenedor">

    <div class="d-flex flex-wrap justify-content-between align-items-center pb-0 pt-3">

      <div class="d-flex flex-wrap ">

        <button [ngClass]="generando ? 'd-flex align-items-center' : ''" mat-flat-button class="me-3 btn-p mb-2"
          type="button" (click)="generarReporte()">
          <span *ngIf="generando" class="d-flex  align-items-center justify-content-center">

            <mat-spinner [diameter]="30" class="me-3 uploader-status"></mat-spinner>
            <span *ngIf="generando">Generando... </span>
          </span>
          <img *ngIf="!generando" src="/assets/icons/pdf.png " width=30px height="30px" class="me-3">
          <span *ngIf="!generando" id="reporte">Generar reporte</span>

        </button>
        
        <button mat-flat-button class="me-3 btn-a mb-2" type="button" (click)="alertaNuevo()"
          *ngIf="permisos.PERMISO_INSERCION" id="btnNuevo">Nuevo</button>

      </div>

      <div class="d-flex align-items-center flex-wrap" style="height: 100%;">

        <form class="mb-2" [formGroup]="formularioBusqueda" class="mb-2" (ngSubmit)="buscarRegistro()">
          <label class="me-3">Buscar:</label>
          <input type="text" class="input rounded-3" formControlName="buscar">
        </form>

      </div>

    </div>

    <hr class="text-white-50 m-2">

    <div class="table-responsive tabla" id="no-more-tables">
      <table class="table table-dark table-striped ">
        <thead class="bg-dark text-light">
          <tr id="encabezadoTitulo">
            <th>Insumo</th>
            <th>Unidad de Medida</th>
            <th>Cantidad mínima</th>
            <th>Cantidad máxima</th>
            <th>Existencia</th>
            <th>Estado</th>
            <th *ngIf="(permisos.PERMISO_ACTUALIZACION || permisos.PERMISO_ELIMINACION)">Acción</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngIf="registros.length < 1">
            <!--  -->
            <td colspan="14" class="align-middle">
              <div class="d-flex align-items-center justify-content-center">
                <mat-icon id="iconBlock">info_outline</mat-icon>
                <strong class="fw-normal text-light ms-2">No se encontraron registros</strong>
              </div>
            </td>
          </tr>
          <tr *ngFor="let registro of registros; let i = index" id="rehistroTabla">
            <td class="text-break" data-title="Unidad de Medida">{{registro.UNIDAD_MEDIDA}}</td>
            <td class="text-break" data-title="Cantidad mínima">{{registro.CANTIDAD_MINIMA}}</td>
            <td class="text-break" data-title="Insumo">{{registro.NOMBRE}}</td>
            <td class="text-break" data-title="Cantidad máxima">{{registro.CANTIDAD_MAXIMA}}</td>
            <td class="text-break" data-title="Existencia">{{registro.EXISTENCIA}}</td>      
            <td class="text-break" data-title="Estado"
            class="d-flex justify-content-center text-center">

              <div *ngIf="(registro.EXISTENCIA >= registro.CANTIDAD_MAXIMA)">

                <img src="/assets/icons/AMARILLO.svg " width="75px" height="75px">
                <span style="color:#F6B50A;" class="d-inline" class="d-block">EXCESO</span>

              </div>
              <div *ngIf="(registro.EXISTENCIA <= registro.CANTIDAD_MINIMA)">

                <img src="/assets/icons/ROJO.svg " alt="" width="75px" height="75px">
                <span style="color:#ED5929;" class="d-block">ESCASO</span>

              </div>
              <div
                *ngIf="(registro.EXISTENCIA < registro.CANTIDAD_MAXIMA && registro.EXISTENCIA > registro.CANTIDAD_MINIMA)">

                <img src="/assets/icons/VERDE.svg" alt="" width="75px" height="75px">
                <span style="color:#4FB206;" class="d-block">NORMAL</span>

              </div>
            </td>
            <td  *ngIf="(permisos.PERMISO_ACTUALIZACION || permisos.PERMISO_ELIMINACION)" data-title="Acción">
              <!-- *ngIf="(permiso.PERMISO_ACTUALIZACION || permiso.PERMISO_ELIMINACION)" -->
              <button mat-icon-button [matMenuTriggerFor]="menu" id="menuAccion">
                <!-- (click)="seleccionar(registro.ID_ROL, registro.ROL, registro.DESCRIPCION)" -->
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <ng-container>

                  <button mat-menu-item (click)="alertaEditar()">
                    <!-- Si no se tiene el de actualizar no se va a mostrar -->
                    <mat-icon id="iconEditar" *ngIf="permisos.PERMISO_ACTUALIZACION">edit</mat-icon>
                    <span>Editar</span>
                  </button>
                </ng-container>

                <ng-container>

                  <button mat-menu-item data-bs-toggle="modal" (click)="alertaEliminar()">
                    <!-- *ngIf="permisos.PERMISO_ELIMINACION" -->
                    <!-- Si no se tiene el de eliminar no se va a mostrar -->
                    <mat-icon id="iconBlock">delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>

                </ng-container>

                <ng-container>


                  <button mat-menu-item (click)="navegarKardex(registro.ID_INSUMO)">
                    <!-- (mouseenter)="verDetalle = true;" (click)="seleccionar(registro.ID)" -->
                    <mat-icon id="iconMas">text_snippet</mat-icon>
                    <span>Ver más</span>
                  </button>
                </ng-container>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <mat-paginator id="paginador" [length]="tamano" [pageSize]="limite" [pageSizeOptions]="[5, 10, 25, 50, tamano]"
      aria-label="Select page" [pageIndex]="indice" (page)="cambioDePagina($event)">
    </mat-paginator>
  </div>

  <div class="mt-4"> <br></div>
  <!-- --------------------------- Modal para crear preguntas  -------------------------- -->
  <!-- <app-nueva-pregunta (onCrear)="recargar()"></app-nueva-pregunta>  -->
  <!-- --------------------------- Modal para editar preguntas --------------------------- -->
  <!-- <app-editar-pregunta (onActualizacion)="recargar()" [id]="id_pregunta" [pregunta]="pregunta">
    </app-editar-pregunta> -->
  <!-- --------------------------- Modal para borrar preguntas --------------------------- -->
  <!-- <app-eliminar-pregunta (onEliminar)="recargar()" [id_pregunta]="id_pregunta" [pregunta]=pregunta>
    </app-eliminar-pregunta> -->
</div>