:root {

    --primary: #2b2b2b;
    --primaryh: #545454;
    --dark: #2b2b2b;
    --dark-x: #242424;
    --light: #ffffff;
    --red: #d12609;
    --redh: #ff2600;
    --redII: #bc1c00;
    --greybg: #e0e0e0;
    --greybtn: #6c757d;
    --greybtnh: #b7c3cd;
    --cafe: #1e120d;
    --cafeh: #4a403b;
    --cafelight: #6d351b;

    --tran-05: 0.5s ease all;
    --tran-02: 0.2s ease all;
    --tran-03: 0.3s ease all;
    --tran-04: 0.4s ease all;
}

*{
    font-family: 'Montserrat', sans-serif ;
    cursor: url(assets/cursors/Cursor.svg), auto;
    
}

html,
body {
    height: 100%;
}

.inputMayus {
    text-transform: uppercase;
}

body {

    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

/* Autocompletado */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    box-shadow: 0 0 0px 1000px #2b2b2b inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*Scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #616161;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999 !important;
}

.bg-dark {

    background-color: var(--dark) !important;

}

.bg-dark-x {

    background-color: var(--dark-x);

}

.form-control,
.btn {

    min-height: 3.125rem;
    line-height: initial;
    color: var(--light) !important;

}

.form-control:focus {
    background-color: var(--dark-x);
    box-shadow: none;
}

.body {

    font-weight: 300;
    color: var(--light) !important;
}

#logo {

    /* position: relative;
    margin-left: 40%; */
    width: 100px;
    height: 100px;

}

.modal-body {
    background-color: #2b2b2b;
}

.modal-footer {
    background-color: #454545;
}

#fondoModal {

    background-color: #232323 !important;
    color: white;

}

@media (max-width:520px){
    h3 {
        font-size:xx-large !important;
    }
}
