<hr *ngIf="index > 0">

<!-- Header -->
<div class="row mb-3">


    <div class="col-md-3 col-2">

        <p class="texto-767">
            <span class="hidden-767">
                Pregunta
            </span>
            # {{index+1}}
        </p>

    </div>

    <div class="col-md-6 col-7">

        <p class="text-white mb-0 texto-767" align="right">
            {{pregunta | titlecase}}</p>

    </div>

    <div class="col-md-3 col-3" align="right">
        <div class="example-button-row">
            <!-- Pantallas pequeñas -->
            <button mat-icon-button type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapse'+index" aria-expanded="false"
                [attr.aria-controls]="'#flush-collapse'+index" class="visible-400">
                <mat-icon>edit</mat-icon>
            </button>
            <!-- Pantallas grandes -->
            <button mat-raised-button class="editar-btn texto-767 hidden-400" (click)="limpiarFormularios()" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapse'+index" aria-expanded="false"
                [attr.aria-controls]="'#flush-collapse'+index">Editar</button>
        </div>
    </div>

    <div class="collapse fade" id="flush-collapse{{index}}" [attr.aria-labelledby]="'flush-Pregunta'+index"
        data-bs-parent="#accordionFlushPreguntas">

        <div class="container text-center align-self-center well">


            <form [formGroup]="formularioPregunta" (ngSubmit)="actualizarPregunta()">

                <div class="my-2 py-3 px-3 justify-content-center text-center">

                    <mat-form-field class="example-full-width-cont" appearance="legacy">
                        <mat-label id="label-input">Confirme la contraseña
                            actual</mat-label>
                        <input matInput formControlName="contrasenaActual"
                            [type]="hideContraVerifi ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hideContraVerifi = !hideContraVerifi"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideContraVerifi" type="button">
                            <mat-icon>{{hideContraVerifi ? 'visibility_off'
                                : 'visibility'}}
                            </mat-icon>
                        </button>
                    </mat-form-field>

                    <div>

                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label id="label-input">Ingrese la respuesta actual
                            </mat-label>
                            <input class="input-btn" formControlName="respuestaActual" (keyup)="toMayus('respuestaActual')" matInput>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label id="label-input">Seleccione la
                                pregunta</mat-label>
                            <mat-select [value]="idPregunta" #selectPregunta required="true">
                                <ng-container *ngFor="let preguntaItem of listaPreguntas">
                                    <mat-option *ngIf="preguntaItem.usadoPor === -1 || preguntaItem.ID_PREGUNTA === idPregunta" id="selector"
                                        [value]="preguntaItem.ID_PREGUNTA">
                                        {{preguntaItem.PREGUNTA | lowercase}}</mat-option>

                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label id="label-input">Ingrese la nueva respuesta
                        </mat-label>
                        <input class="input-btn" formControlName="respuesta" (keyup)="toMayus('respuesta')" matInput>
                        <mat-icon matSuffix>enhanced_encryption</mat-icon>
                    </mat-form-field>

                </div>

                <div class="row">

                    <div class="col-12 text-center mb-3">

                        <button mat-button class="btn-guardar" [disabled]="formularioPregunta.invalid"
                            type="submit">Guardar cambios</button>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>