<li class="nav-item dropdown">
    <!-- Necesito esto -->

    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

        <!-- Campana de notificaciones -->
        <mat-icon *ngIf="notificacionesNoVistas>0; else notificacion" matRipple [matRippleCentered]="true"
            [matRippleUnbounded]="true" [matRippleRadius]="20"
            [matBadge]="notificacionesNoVistas" matBadgeColor="warn">

            notifications

        </mat-icon>

        <!-- En caso de no tener notificaciones nuevas, se ocultara el badge -->
        <ng-template #notificacion>

            <mat-icon>notifications</mat-icon>

        </ng-template>

    </a>

    <ul class="dropdown-menu position-absolute dropdown-menu-lg-end bg-dark p-0">

        <li class="m-0 p-0">

            <div class="d-flex align-items-center justify-content-between" (click)="evitarCierre($event)">

                <div class="d-flex align-items-center">

                    <h6 class="fw-bold text-light ms-3" style="font-size:medium ;">

                        Notificaciones

                    </h6>

                </div>

                <div class="visually-hidden">
                    <audio controls #reproductorNotificaciones> <source src="./../../../../assets/sound/ah.wav" type="audio/mpeg"></audio>
                </div>

                <div>
                    <button mat-icon-button color="warn" aria-label="Marcar como leído">
                        <mat-icon>done_all</mat-icon>
                    </button>
                </div>

            </div>

            <div class="overflow-auto" infiniteScroll [infiniteScrollDistance]="0" [scrollWindow]="false" (scrolled)="notificacionesLazyLoading()" style="height: 300px; width: 278px; background-color: #2b2b2b;">

                <div class="d-flex justify-content-center flex-wrap">

                    <ng-container *ngFor="let notificacion of notificaciones; let indice = index">

                        <div *ngIf="!(notificacion.TIEMPO_TRANSCURRIDO | calcularTiempo | async)"
                            style="background-color: #e0e0e0; width: 96%; margin-bottom: 3px;"
                            class="dropdown-item rounded {{notificacion.VISTO ? 'visto' : 'noVisto'}}">

                            <div class="row">

                                <div class="col-2">

                                    <mat-icon color="warn" class="mt-2 placeholder"></mat-icon>

                                </div>

                                <div class="col">

                                    <div class="d-flex flex-column placeholder-glow">

                                        <h6 class="fw-semibold text-wrap lh-1 mt-2 placeholder col-11" style="font-size:small ;">

                                        </h6>

                                        <h6 class="fw-semibold placeholder col-4 mt-2 mb-2" style="font-size:xx-small ;">

                                        </h6>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div [ngClass]="(notificacion.TIEMPO_TRANSCURRIDO | calcularTiempo | async) ? '' : 'visually-hidden'"
                            style="width: 96%; margin-bottom: 3px;"
                            class="dropdown-item rounded itemNotificacion {{notificacion.VISTO ? 'visto' : 'noVisto'}}" (click)="verNotificacion(notificacion.ID, indice)">

                            <div class="row">

                                <div class="col-2">

                                    <mat-icon color="warn" class="mt-2 iconoItemNotificacion">{{notificacion.TIPO_NOTIFICACION ===
                                        'INVENTARIO' ? 'inventory' : 'restaurant'}}</mat-icon>

                                </div>

                                <div class="col">

                                    <div class="d-flex flex-column">

                                        <h6 class="fw-semibold text-wrap lh-1 mt-2" style="font-size:small ;">

                                            {{notificacion.ACCION}}

                                        </h6>

                                        <h6 class="fw-semibold" style="font-size:xx-small ;">

                                            {{notificacion.TIEMPO_TRANSCURRIDO | calcularTiempo | async}}

                                        </h6>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </ng-container>

                    
                </div>
                <div *ngIf="notificaciones.length === 0"
                    class="d-flex flex-column align-items-center justify-content-center bg-light" style="height: 100%;">
                    <mat-icon id="iconBlock">info_outline</mat-icon>
                    <strong class="fw-normal text-light ms-2 text-black">No tienes notificaciones</strong>
                </div>
            </div>

        </li>

        <li class="m-0 p-0">

            <div class="">

                <div class="nav-link d-flex justify-content-center">

                    <button mat-flat-button class="btn-p" style="width: 95%;" (click)="irNotificaciones()"
                        type="submit">
                        <!--  [disabled]="formularioParametro.invalid" -->
                        <mat-icon class="ms-2 me-1">visibility</mat-icon>
                        <span class="me-2">Ver todo</span>
                    </button>

                </div>

            </div>

        </li>

    </ul>

</li>