.btn-p{

    background-color: #d12609 !important;
    cursor: pointer;
    transition: 0.3s ease all;
}

.btn-p:hover{

    background-color:#ff2600 !important;
    border: 0;
    
}

.itemNotificacion:hover .iconoItemNotificacion {
    background-color: #ff2600 !important;
    color: white !important;
}

.itemNotificacion:hover {
    background-color: #ff2600 !important;
    color: white !important;
}

.noVisto {
  background-color: white;
}

.visto {
  background-color: #CCCCCC;
}