<div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center" id="login-box">
    
    <h1 class="text-light font-weight-bold mb-4"> Recuperación mediante correo electrónico</h1>

    <form class="mt-4">

        <div class="mb-4" id="header">

            <label for="exampleInputEmail1" class="form-label font-wight-bold">Correo:</label>
            <input type="email" class="form-control bg-dark-x border-0 textbox"
                placeholder="Ingrese su correo" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>        

        <a clasa="text-center">
            <button type="button" class="btn btn-primary" (click)="onReset()">Enviar correo</button>
        </a>

    </form>

</div>