<div class="">
  <h3>Gestión de Descuentos</h3>

  <div class="container-md rounded-4 pb-2" id="contenedor">

    <div class="d-flex flex-wrap justify-content-between align-items-center pb-0 pt-3">

      <div class="d-flex flex-wrap ">

        <button [ngClass]="generando ? 'd-flex align-items-center' : ''" mat-flat-button class="me-3 btn-p mb-2"
          type="button" (click)="generarReporte()">
          <span *ngIf="generando" class="d-flex  align-items-center justify-content-center">

            <mat-spinner [diameter]="30" class="me-3 uploader-status"></mat-spinner>
            <span *ngIf="generando">Generando... </span>
          </span>
          <img *ngIf="!generando" src="/assets/icons/pdf.png " width=30px height="30px" class="me-3">
          <span *ngIf="!generando">Generar reporte</span>

        </button>
        <button mat-flat-button class="me-3 btn-a mb-2" type="button" data-bs-toggle="modal"
          data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" (mouseenter)="creando = true">Nuevo</button>

      </div>

      <div class="d-flex align-items-center flex-wrap" style="height: 100%;">

        <form class="mb-2" [formGroup]="formularioBusqueda" (ngSubmit)="buscarRegistro()">
          <label class="me-3">Buscar:</label>
          <input type="text" class="input rounded-3" formControlName="buscar">
        </form>

      </div>

    </div>

    <hr class="text-white-50 m-2">

    <div class="table-responsive tabla" id="no-more-tables">
      <table class="table table-dark table-striped ">
        <thead class="bg-dark text-light align-middle">
          <tr>
            <th>Nombre</th>
            <th>Porcentaje</th>
            <th>Fijo</th>
            <th>Cantidad</th>
            <th>Acción</th> <!-- *ngIf="(permisos.PERMISO_ACTUALIZACION || permisos.PERMISO_ELIMINACION)" -->
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngIf="registros.length < 1">
            <td colspan="14" class="align-middle">
              <div class="d-flex align-items-center justify-content-center">
                <mat-icon id="iconBlock">info_outline</mat-icon>
                <strong class="fw-normal text-light ms-2">No se encontraron registros</strong>
              </div>
            </td>
          </tr>
          <tr *ngFor="let registro of registros">
            <td data-title="Nombre">{{registro.NOMBRE}}</td>
            <td data-title="Porcentaje">{{registro.ES_PORCENTAJE ? 'SI' : 'NO'}}</td>
            <td data-title="Fijo">{{registro.ES_PORCENTAJE ? 'NO' : 'SI'}}</td>
            <td data-title="Cantidad">{{registro.CANTIDAD}}</td>
            <td data-title="Acción">
              <!--  *ngIf="(permisos.PERMISO_ACTUALIZACION || permisos.PERMISO_ELIMINACION)" -->
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <!-- (click)="seleccionar(registro.ID_ROL, registro.ROL, registro.DESCRIPCION)" -->
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <ng-container>

                  <button mat-menu-item data-bs-toggle="modal" data-bs-target="#exampleModal2"
                    data-bs-whatever="@getbootstrap" (click)="seleccionar(registro.ID)" (mouseenter)="editando = true">
                    <!--  *ngIf="permisos.PERMISO_ACTUALIZACION" -->
                    <!-- Si no se tiene el de actualizar no se va a mostrar -->
                    <mat-icon id="iconEditar">edit</mat-icon>
                    <span>Editar</span>
                  </button>
                </ng-container>
                <ng-container>

                  <button mat-menu-item data-bs-toggle="modal" data-bs-target="#exampleModal3"
                    data-bs-whatever="@getbootstrap" (click)="seleccionar(registro.ID)">
                    <!-- *ngIf="permisos.PERMISO_ELIMINACION" -->
                    <!-- Si no se tiene el de eliminar no se va a mostrar -->
                    <mat-icon id="iconBlock">delete_forever</mat-icon> <!--  -->
                    <span>Eliminar</span>
                  </button>

                </ng-container>

              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <mat-paginator id="paginador" [length]="tamano" [pageSize]="limite" [pageSizeOptions]="[5, 10, 25, 50, tamano]"
      aria-label="Select page" [pageIndex]="indice" (page)="cambioDePagina($event)">
    </mat-paginator>
  </div>

  <div class="mt-4"> <br></div>
  <!-- --------------------------- Modal para Ingresar descuentos  -------------------------- -->
  <app-nuevo-descuento *ngIf="creando" (onCerrar)="creando = $event" (onCrear)="recargar()" ></app-nuevo-descuento>
  <!--  -->
  <!-- *ngIf="ingresando" (onCerrar)="ingresando = $event" -->
  <!-- --------------------------- Modal para editar descuentos --------------------------- -->
  <app-editar-descuento></app-editar-descuento>
  <!-- *ngIf="editando" (onCerrar)="editando = $event" (onActualizacion)="recargar()" -->
  <!--  <app-editar-rol (onActualizacion)="recargar()" [id]="id_rol" [rol]="rol" [descripcion]="descripcion">
    </app-editar-rol> -->
  <!-- --------------------------- Modal para borrar descuentos --------------------------- -->
  <app-eliminar-descuento></app-eliminar-descuento> <!-- (onEliminar)="recargar()" -->
  <!--  <app-eliminar-rol (onEliminar)="recargar()" [id_rol]="id_rol" [rol]=rol></app-eliminar-rol> -->

</div>