
label {
    color: white;
}

thead, th, td {
    text-align: center;
}

.mat-card-actions{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.card-header{
    color: white;
    font-weight: bold;
    text-align: center;
}

.card-footer{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.btn-p {

    border-radius: 10px;
    background-color: #d12609 !important;
    font-size: 1rem;
    font-weight: 400;
    min-height: 3.125rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;

}

.btn-p:hover {

    background-color: #ff2600 !important;
    border: 0;

}

.btn-a {

    background-color: #898989 !important;
    font-size: 1rem;
    font-weight: 400;
    min-height: 3.125rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 10px;
    line-height: 50px;
}

.btn-a:hover {

    background-color: #b1b1b1 !important;
    border: 0;

}

h3 {
    text-align: center;
    padding: 15px;
    font-weight: normal;
}

input[type = "file" ]{
    display: none;
}

label{
    color: white;
    height: 50px;
    border-radius: 10px;
    background-color: #d12609;
    font-size: 20px;
/*     position: absolute;
    margin: auto;
    
    font-size: 20px;
    display: flex;
    justify-content: center; */
}

.botonFeo {
    line-height: 50px;
}

.example-full-width {
    width: 100%;
    color: white;
}

.example-edit-width {
    width: 100%;
    color: white;
}

.inline-buttons {
    display: inline-flex;
    justify-content: center;
}

.form-control{
    background-color: #202428;
    color: white;
    border: none;
}