<div class="card text-bg-dark ">
    <div class="card-header">
        Restaurar
    </div>
    <div class="card-body">
        <div>
            <mat-label>Servidor local</mat-label>
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-select formControlName="">
                    <div class="cdk-overlay-container"></div>
                    <mat-option value="" id="selector"> -- Seleccione el servidor -- </mat-option>
                    <ng-container>
                        <!-- *ngFor="let rol of roles" -->
                        <mat-option> Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-option>
                        <!-- *ngIf="rol.ROL !== 'DEFAULT'" id="selector" [value]="rol.ID_ROL" -->
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-label>Base de datos</mat-label>
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-select formControlName="">
                    <div class="cdk-overlay-container"></div>
                    <mat-option value="" id="selector"> -- Seleccione la base de datos -- </mat-option>
                    <ng-container>
                        <!-- *ngFor="let rol of roles" -->
                        <mat-option> Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-option>
                        <!-- *ngIf="rol.ROL !== 'DEFAULT'" id="selector" [value]="rol.ID_ROL" -->
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-label>Directorio</mat-label>
        <div class="botonFeo ">
            <input type="file" id="file" accept="file/*">
            <label for="file" class="align-content-center example-edit-width d-flex align-items-center" >
                <mat-icon  class="align-self-center m-3">storage</mat-icon>
                Seleccionar archivo
            </label>
            
        </div>
        
    </div>
    <div class="card-footer text-muted mb-2">
        <div class="inline-buttons">
            <button mat-flat-button class="me-3 btn-a" type="button">Restaurar</button>
            <button mat-flat-button class="btn-p" type="button">Salir</button>
        </div>
    </div>
</div>