<div class="card text-bg-dark ">
    <div class="card-header">
        Restaurar
    </div>
    <div class="card-body">

        <mat-label>Subir respaldo: <span class="fw-bold">{{nombreRespaldo}}</span></mat-label>
        <div class="botonFeo ">
            <input type="file" id="file" (change)="capturarFile($event)" accept=".sql">
            <label for="file" class="align-content-center example-edit-width d-flex align-items-center" >
                <mat-icon  class="align-self-center m-3">storage</mat-icon>
                Seleccionar archivo
            </label> 
        </div>
    </div>
    <div class="card-footer text-muted mb-2">
        <div class="inline-buttons">
            <button mat-flat-button class="me-3 btn-a" [disabled]=!archivo type="button" (click)="restaurar()">Restaurar</button>
        </div>
    </div>
</div>